<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/head.html") %>
    <body>
        <div class="wrap">
            <%- include("./include/header.html") %>
            <h2 class="ir">젠톡</h2>
            <div class="container">
                <article class="gentok">
                    <div class="gentok__title">
                        <h3>Digital Healthcare</h3>
                    </div>
                    <div class="gentok__kv">
                        <div class="gentok__content">
                            <div class="gentok__text">
                                <h4 class="gentok__subtitle">몸BTI 건강관리 플랫폼</h4>
                                <h3 class="gentok__kvtitle">젠톡</h3>
                                <p class="gentok__description">유전자 분석을 통해 타고난 나의 특성을 알고, 몸속 미생물 분석으로 현재 건강 상태를 모니터링하면서 건강한 삶을 만들어가요</p>
                                <div class="gentok__btnwrap">
                                    <ul>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--apple">App Store</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--google">Google Play</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="examine">
                    <div class="examine__container">
                        <div class="examine__function">
                            <ul class="examine__list swiper-wrapper">
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>01</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    129종의<br />
                                                    다양한 검사항목
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../resources/assets/images/mo/func_image01.png" alt="129종의 다양한 검사항목" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>02</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    보건복지부<br />
                                                    인증기관
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../resources/assets/images/mo/func_image02.png" alt="보건복지부 인증기관" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>03</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    AI 챗봇<br />
                                                    유전상담 서비스
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../resources/assets/images/mo/func_image03.png" alt="AI 챗봇 유전상담 서비스" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>04</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    검사 항목별<br />
                                                    관리 솔루션 제공
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../resources/assets/images/mo/func_image04.png" alt="검사 항목별 관리 솔루션 제공" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="examine__check">
                            <ul class="examine__checklist">
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/mo/checklist_image01.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>유전자 검사</p>
                                                <h4>젠톡</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    비만, 탈모 등 총 129종 검사항목으로<br />
                                                    그동안 알지 못했던 내 몸의 유전적 특성 알아봐요
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hidetop">
                                                    <div class="examine__hideimage">
                                                        <img src="../resources/assets/images/sub/checklist_hideimage01.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hidebottom">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemname">영양소</div>
                                                            <div class="examine__itemdesc">비타민 C 농도, 비타민 D 농도, 코엔자임Q10, 마그네슘 농도 등 35개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">운동</div>
                                                            <div class="examine__itemdesc">근력 운동 적합성, 지구력 운동 적합성, 운동 후 회복능력 등 총 10개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">피부/모발</div>
                                                            <div class="examine__itemdesc">색소침착, 피부노화, 남성형 탈모 등 18개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">식습관</div>
                                                            <div class="examine__itemdesc">식욕, 포만감, 쓴맛 민감도 등 총 21개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">개인특성</div>
                                                            <div class="examine__itemdesc">알코올 홍조, 니코틴 의존성, 카페인 대사 등 23개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">건강관리</div>
                                                            <div class="examine__itemdesc">비만, 요요 가능성, 복부비만, 중성지방농도 등 22개 항목</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">더 알아보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="examine__hideclose" type="button">Close</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/mo/checklist_image02.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>마이크로바이옴 검사</p>
                                                <h4>더바이옴</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    지속적으로 변화하는 몸 속 미생물을<br />
                                                    분석하여 현재 건강 상태를 체크해봐요
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hidetop">
                                                    <div class="examine__hideimage">
                                                        <img src="../resources/assets/images/sub/checklist_hideimage01.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hidebottom">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemname">영양소</div>
                                                            <div class="examine__itemdesc">비타민 C 농도, 비타민 D 농도, 코엔자임Q10, 마그네슘 농도 등 35개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">운동</div>
                                                            <div class="examine__itemdesc">근력 운동 적합성, 지구력 운동 적합성, 운동 후 회복능력 등 총 10개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">피부/모발</div>
                                                            <div class="examine__itemdesc">색소침착, 피부노화, 남성형 탈모 등 18개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">식습관</div>
                                                            <div class="examine__itemdesc">식욕, 포만감, 쓴맛 민감도 등 총 21개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">개인특성</div>
                                                            <div class="examine__itemdesc">알코올 홍조, 니코틴 의존성, 카페인 대사 등 23개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">건강관리</div>
                                                            <div class="examine__itemdesc">비만, 요요 가능성, 복부비만, 중성지방농도 등 22개 항목</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">더 알아보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="examine__hideclose" type="button">Close</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/mo/checklist_image03.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>반려동물 유전자 검사</p>
                                                <h4>마이펫진</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    소중한 반려동물의 유전질환을<br />
                                                    미리 알아보고 예방하여<br />
                                                    행복하고 건강한 삶을 함께해요
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hideleft">
                                                    <div class="examine__hideimage">
                                                        <img src="../resources/assets/images/sub/checklist_hideimage01.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft">영양소</div>
                                                            <div class="examine__itemright">비타민 C 농도, 비타민 D 농도, 코엔자임Q10, 마그네슘 농도 등 35개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">운동</div>
                                                            <div class="examine__itemright">근력 운동 적합성, 지구력 운동 적합성, 운동 후 회복능력 등 총 10개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">피부/모발</div>
                                                            <div class="examine__itemright">색소침착, 피부노화, 남성형 탈모 등 18개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">식습관</div>
                                                            <div class="examine__itemright">식욕, 포만감, 쓴맛 민감도 등 총 21개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">개인특성</div>
                                                            <div class="examine__itemright">알코올 홍조, 니코틴 의존성, 카페인 대사 등 23개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">건강관리</div>
                                                            <div class="examine__itemright">비만, 요요 가능성, 복부비만, 중성지방농도 등 22개 항목</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">더 알아보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="examine__hideclose" type="button">Close</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <%- include("./include/header_gnb.html") %>
        </div>
    </body>
</html>
