@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'NotoSansKR', 'NeuzeitGrotesk', sans-serif;
}

.ir {
    overflow: hidden;
    position: absolute;
    top: -999999px;
    left: -999999px;
    width: 0;
    height: 0;
    text-indent: -999999px;
    font-size: 0;
}

.tac {
    text-align: center;
}

.wrap {
    .container {
        overflow-x: hidden;
        padding-top: 120px;
        width: auto;
        max-width: none;

    }

    &.header-fixed {
        .header {
            position: fixed !important;
        }
    }
}


.btn {
    padding: 0;
    min-width: auto;
    height: auto;
    letter-spacing: normal;
    border-radius: 0;
    border: none;
}

.btn-default {
    display: inline-block;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: all 0.5s;

    &__text {
        font-family: "NeuzeitGrotesk";
        font-size: 14px;
        font-weight: 700;
        line-height: 38px;
        color: #fff;
        text-align: center;
        transition: all 0.3s;

        &--pl {
            position: relative;
            padding-left: 20px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                transform: translateY(-50%);
            }
        }

        &--global {
            &::before {
                background: url(../images/common/icon_global.svg) center / auto no-repeat;
            }
        }

        &--apple {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/apple.svg) center / auto no-repeat;
            }
        }

        &--google {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/google.svg) center / auto no-repeat;
            }
        }
    }


    &--regular {
        min-width: 150px;
        border-radius: 25px;

        .btn-default__text {
            line-height: 48px;
        }
    }

    &--black {
        background-color: transparent;
        border: 1px solid;

        .btn-default__text {
            color: #000;
        }

        &:hover {
            background-color: #000;

            .btn-default__text {
                color: #fff;
            }
        }
    }

    &--white {
        background-color: transparent;

        .btn-default__text {
            color: #fff;
        }

        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.7);
            background-color: rgba($color: white, $alpha: 0.1);
        }
    }

    &--gradient {
        padding: 0 50px;
        background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
        border-radius: 27px;
        border: none;

        .btn-default__text {
            line-height: 54px;
            font-size: 16px;
        }

        &:hover {
            background: linear-gradient(90deg, #52C8FF 0%, #A16CFE 100%);

            .btn-default__text {
                color: #fff;
            }
        }
    }

    &--gradclick {
        padding: 0 52px;
        border: none;
        background: #38556A;
        border-radius: 30px;

        &.active {
            background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
        }

        .btn-default__text {
            line-height: 60px;
            font-size: 24px;
        }

        &:hover {
            background: linear-gradient(90deg, #52C8FF 0%, #A16CFE 100%);

            .btn-default__text {
                color: #fff;
            }
        }
    }


    &--bnw {
        background-color: #fff;
        border: none;

        .btn-default__text {
            color: #000;
            font-size: 16px;
        }

        &:hover {
            background-color: #000;

            .btn-default__text {
                color: #fff;
            }
        }
    }
}

// footer
.wrap {
    .header {
        .inner {
            .section_btn .sns {
                vertical-align: middle;
            }

            .btn_eng {
                vertical-align: middle;
            }
        }
    }

    .header {
        &.header-sm {
            .icon-facebook-circle {
                background-image: url("https://www.macrogen.com/publishing/pc-ko/dist/img/common/ico-facebook-circle.svg");
                width: 30px;
                height: 30px;
            }

            .icon-youtube-circle {
                background-image: url("https://www.macrogen.com/publishing/pc-ko/dist/img/common/ico-youtube-circle.svg");
                width: 30px;
                height: 30px;
            }

            .icon-blog-circle {
                background-image: url("https://www.macrogen.com/publishing/pc-ko/dist/img/common/ico-blog-circle.svg");
                width: 30px;
                height: 30px;
            }

            .icon-linkedin-circle {
                background-image: url("https://www.macrogen.com/publishing/pc-ko/dist/img/common/ico-linkedin-circle.svg");
                width: 30px;
                height: 30px;
            }
        }
    }

    .footer {
        position: relative;
        background-color: #111111;
        color: #fff;
        min-width: auto;
        padding: 0;

        &::before {
            display: none;
        }

        &__inner {
            max-width: 1660px;
            width: 100%;
            margin: 0 auto;
            padding: 80px 20px 62px;
        }

        &__top {
            display: flex;
            column-gap: 160px;
            padding-bottom: 60px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        &__title {
            flex-shrink: 0;
            flex-basis: 385px;

            h2 {
                font-family: "NeuzeitGrotesk";
                font-size: 36px;
                font-weight: 700;
                line-height: 42px;
            }
        }

        &__list {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            padding-top: 20px;

        }

        &__menu {
            strong {
                display: block;
                margin-bottom: 30px;
                font-size: 18px;
            }

            li {
                margin-bottom: 15px;
                font-size: 16px;
                font-weight: 300;
                line-height: 1;
                letter-spacing: -0.48px;

                &:first-child {
                    font-family: "Neuzeit Grotesk";
                    font-size: 18px;
                    line-height: 18px
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: block;
                    font-size: 16px;

                    &:hover {
                        color: #7fb3ff;
                    }
                }
            }
        }

        &__bottom {
            padding-top: 60px;
        }

        &__etc {
            display: flex;
            justify-content: space-between;
        }

        &__site {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                gap: 30px;

                li {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 14px;
                    letter-spacing: -0.42px;

                    a {
                        &:hover {
                            color: #7fb3ff;
                        }
                    }

                }
            }
        }

        &__select {
            position: relative;
            font-size: 0;

            .footer__button {
                position: relative;
                display: inline-block;
                font-family: "Neuzeit Grotesk";
                font-size: 14px;
                font-weight: 700;
                line-height: 1;
                color: #fff;
                padding-right: 20px;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    margin-top: 2px;
                    border: 2px solid #fff;
                    border-top: none;
                    border-right: none;
                    transform: translateY(-50%) rotate(135deg);
                    transition: 0.23s ease;
                }

                &.active {
                    &::after {
                        margin-top: -2px;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
        }

        &__container {
            height: 150px;
            padding: 15px;
            overflow-y: auto;
            border: 1px solid #fff;
            border-radius: 15px;

            ul {
                li {
                    font-size: 0;
                    border-bottom: 1px solid #2b2b2b;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        display: block;
                        font-family: "Neuzeit Grotesk";
                        font-size: 14px;
                        line-height: 30px;
                        color: #fff;
                        word-break: keep-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }

        &__toggle {
            overflow: hidden;
            position: absolute;
            bottom: 24px;
            right: 0;
            width: 200px;
            height: 0;
            background-color: #111;
            transition: 0.23s ease;
        }

        &__info {
            display: flex;
            gap: 20px;
            padding-top: 40px;
            font-size: 14px;
        }

        &__copyright {
            padding-top: 10px;
            font-size: 12px;
            font-weight: 300;
            line-height: 12px;
        }
    }
}

.info {
    span {
        &:first-child {
            font-weight: 700;
        }
    }
}

.top-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 3;

    button {
        padding: 30px;
        border-radius: 50%;
        background-color: #222;
        background-image: url(../images/common/top_arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
    }

}