@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'NotoSansKR', 'NeuzeitGrotesk', sans-serif;
}

.ir {
    overflow: hidden;
    position: absolute;
    top: -999999px;
    left: -999999px;
    width: 0;
    height: 0;
    text-indent: -999999px;
    font-size: 0;
}

.tac {
    text-align: center;
}

.container {
    padding-top: 120px;
}

.btn {
    display: inline-block;
}

.btn-default {
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;

    &__text {
        font-family: "NeuzeitGrotesk";
        font-size: 14px;
        font-weight: 700;
        line-height: 38px;
        color: #fff;
        text-align: center;

        &--pl {
            position: relative;
            padding-left: 20px;

            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                transform: translateY(-50%);
            }
        }

        &--global {
            &::before {
                background: url(../images/common/icon_global.svg) center / auto no-repeat;
            }
        }

        &--apple {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/apple.svg) center / auto no-repeat;
            }
        }

        &--google {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/google.svg) center / auto no-repeat;
            }
        }
    }


    &--regular {
        min-width: 150px;
        border-radius: 25px;

        .btn-default__text {
            line-height: 48px;
        }
    }

    &--black {
        background-color: transparent;
        border: 1px solid;

        .btn-default__text {
            color: #000;
        }
    }

    &--white {
        background-color: transparent;

        .btn-default__text {
            color: #fff;
        }
    }

    &--gradient {
        padding: 0 50px;
        background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
        border-radius: 27px;
        border: none;

        .btn-default__text {
            line-height: 54px;
            font-size: 16px;
        }
    }
}

// 헤더
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 124px;
    margin: 0 auto;
    color: #fff;
    z-index: 99;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        z-index: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 1920px;
        min-width: 1480px;
        height: 120px;
        margin: 0 auto;
        padding: 28px 60px;
    }

    &__gnb {
        display: flex;
    }

    &__btn {
        display: flex;
        align-items: center;
    }

    &.black {
        color: #000;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: unset;
            z-index: 0;
        }

        .logo {
            a {
                background: url(../images/main/logo_black.png)
            }
        }

        .icon {
            background-color: #000;
            background-image: none;
            -webkit-mask-size: cover;
            mask-size: cover;

            &--facebook {
                mask-image: url(../images/common/facebook.svg);
                -webkit-mask-image: url(../images/common/facebook.svg);
            }

            &--youtube {
                mask-image: url(../images/common/youtube.svg);
                -webkit-mask-image: url(../images/common/youtube.svg);
            }

            &--blog {
                mask-image: url(../images/common/blog.svg);
                -webkit-mask-image: url(../images/common/blog.svg);
            }

            &--linkedin {
                mask-image: url(../images/common/linkedin.svg);
                -webkit-mask-image: url(../images/common/linkedin.svg);
            }
        }


        .btn-default {
            border: 1px solid #ddd;
        }

        .btn-default__text {
            color: #000;

            &::before {
                background: url(../images/common/icon_global_black.svg) center / auto no-repeat;
            }
        }
    }
}

// 로고
.logo {
    width: 270px;

    a {
        display: block;
        width: 171px;
        height: 64px;
        background: url(../images/main/logo.png) no-repeat left center / 100%;
        text-indent: -9000px;
    }
}

// 네비게이션 링크
.nav {
    ul {
        display: flex;
        align-items: center;
        gap: 70px;
        height: 100%;
        font-family: 'NeuzeitGrotesk';
        font-size: 18px;
        font-weight: 700;
    }
}

// sns 아이콘
.sns {
    margin-right: 20px;

    ul {
        display: flex;
        gap: 10px;
    }
}

.icon {
    display: block;
    width: 30px;
    height: 30px;

    &--facebook {
        background-image: url(../images/common/facebook.svg);
    }

    &--youtube {
        background-image: url(../images/common/youtube.svg);
    }

    &--blog {
        background-image: url(../images/common/blog.svg);
    }

    &--linkedin {
        background-image: url(../images/common/linkedin.svg);
    }
}

.lang {
    display: flex;
    gap: 10px;

    &__global {
        display: inline-block;
        width: 14px;
        height: 14px;

        background-size: cover;
        margin-top: 2px;
    }
}








// footer
.footer {
    background-color: #111111;
    color: #fff;

    &__inner {
        max-width: 1920px;
        width: 100%;
        min-width: 1480px;
        margin: 0 auto;
        padding: 100px 150px 62px 150px;
    }

    &__title {
        h2 {
            font-family: "NeuzeitGrotesk";
            font-size: 80px;
            font-weight: 700;
            line-height: 90px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__menu {
        li {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.48px;

            &:first-child {
                margin-bottom: 30px;
                font-family: "Neuzeit Grotesk";
                font-size: 18px;
                font-weight: 700;
                line-height: 18px
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
            }
        }
    }

    &__bottom {
        padding-top: 60px;
    }

    &__site {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 30px;

            li {
                font-size: 14px;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.42px;

                &:nth-child(2) {
                    font-weight: 700;
                }
            }
        }
    }

    &__select {

        select {
            width: 100%;
            padding: 5px 20px 5px 5px;
            background: url(../images/common/select-arrow.svg) no-repeat 97% 59%/10px auto;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            color: #fff;

            option {
                color: #000;
            }
        }
    }

    &__info {
        display: flex;
        gap: 20px;
        padding-top: 40px;
        font-size: 14px;
    }

    &__copyright {
        padding-top: 10px;
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
    }
}

.info {
    span {
        &:first-child {
            font-weight: 700;
        }
    }
}