@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'NotoSansKR', 'NeuzeitGrotesk', sans-serif;
}



.tac {
    text-align: center;
}

// 헤더
.header {
    position: fixed;
    top: 0;
    max-width: 1920px;
    width: 100%;
    height: 124px;
    margin: 0 auto;
    color: #fff;
    z-index: 99;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        z-index: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 1920px;
        min-width: 1480px;
        height: 120px;
        margin: 0 auto;
        padding: 28px 60px;
    }

    &__gnb {
        display: flex;
    }

    &__btn {
        display: flex;
        align-items: center;
    }

    &.black {
        color: #000;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: unset;
            z-index: 0;
        }

        .logo {
            a {
                background: url(../images/main/logo_black.png)
            }
        }

        .icon {
            background-color: #000;
            background-image: none;
            -webkit-mask-size: cover;
            mask-size: cover;

            &--facebook {
                mask-image: url(../images/common/facebook.svg);
                -webkit-mask-image: url(../images/common/facebook.svg);
            }

            &--youtube {
                mask-image: url(../images/common/youtube.svg);
                -webkit-mask-image: url(../images/common/youtube.svg);
            }

            &--blog {
                mask-image: url(../images/common/blog.svg);
                -webkit-mask-image: url(../images/common/blog.svg);
            }

            &--linkedin {
                mask-image: url(../images/common/linkedin.svg);
                -webkit-mask-image: url(../images/common/linkedin.svg);
            }
        }

        .lang {

            &__global {
                display: inline-block;
                width: 14px;
                height: 14px;
                background-color: #000;
                background-image: none;
                background-size: cover;
                mask-image: url(../images/common/globel.svg);
                -webkit-mask-image: url(../images/common/globel.svg);
                -webkit-mask-size: cover;
                mask-size: cover;
            }
        }

        .btn {
            color: #000;

            &--gray {
                border: 1px solid #ddd;
            }
        }
    }
}

// 로고
.logo {
    width: 270px;

    a {
        display: block;
        width: 171px;
        height: 64px;
        background: url(../images/main/logo.png) no-repeat left center / 100%;
        text-indent: -9000px;
    }
}

// 네비게이션 링크
.nav {
    ul {
        display: flex;
        align-items: center;
        gap: 70px;
        height: 100%;
        font-family: 'NeuzeitGrotesk';
        font-size: 18px;
        font-weight: 700;
    }
}

// sns 아이콘
.sns {
    margin-right: 20px;

    ul {
        display: flex;
        gap: 10px;
    }
}

.icon {
    display: block;
    width: 30px;
    height: 30px;

    &--facebook {
        background-image: url(../images/common/facebook.svg);
    }

    &--youtube {
        background-image: url(../images/common/youtube.svg);
    }

    &--blog {
        background-image: url(../images/common/blog.svg);
    }

    &--linkedin {
        background-image: url(../images/common/linkedin.svg);
    }
}

.lang {
    display: flex;
    gap: 10px;

    &__global {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url(../images/common/globel.svg);
        background-size: cover;
        margin-top: 2px;
    }
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    font-family: "NeuzeitGrotesk";
    font-weight: 700;
    line-height: 1;
    color: #fff;

    &--white {
        border: 0.5px solid #fff;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &--small {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 16px;
    }

    &--gradient {
        padding: 19px 57px;
        background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
    }
}






// footer
.footer {
    background-color: #111111;
    color: #fff;

    &__inner {
        max-width: 1920px;
        min-width: 1480px;
        padding: 100px 150px 62px 150px;
    }

    &__title {
        h2 {
            font-family: "NeuzeitGrotesk";
            font-size: 80px;
            font-weight: 700;
            line-height: 90px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__menu {
        li {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.48px;

            &:first-child {
                margin-bottom: 30px;
                font-family: "Neuzeit Grotesk";
                font-size: 18px;
                font-weight: 700;
                line-height: 18px
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__bottom {
        padding-top: 60px;
    }

    &__site {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 30px;

            li {
                font-size: 14px;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.42px;

                &:nth-child(2) {
                    font-weight: 700;
                }
            }
        }
    }

    &__select {

        select {
            width: 100%;
            padding: 5px 20px 5px 5px;
            background: url(../images/common/select-arrow.svg) no-repeat 97% 59%/10px auto;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            color: #fff;

            option {
                color: #000;
            }
        }
    }

    &__info {
        display: flex;
        gap: 20px;
        padding-top: 40px;
        font-size: 14px;
    }

    &__copyright {
        padding-top: 10px;
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
    }
}

.info {
    span {
        &:first-child {
            font-weight: 700;
        }
    }
}