@import 'common/mixin';

body {
    overflow-y: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

#wrap {
    position: static;
    min-width: auto;
    overflow: hidden;

    .header-main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
    }
}


.section {
    height: 100vh;

    &--auto {
        height: auto;
    }

    &__inner {
        height: 100%;
    }

    // auto 삭제
    &--news {
        height: auto;
        padding: 180px 0;
    }

    &--marquee {
        height: auto;
        padding: 100px 0 180px 0;
    }

    &--banner {
        height: auto;
    }

    &--global {
        width: 100%;
        height: auto; 
        &.active {
            .global-swiper {
                .swiper-slide {
                    &.active {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    // auto 삭제

}

.scroll-area {
    height: 100vh;
    overflow-y: auto;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.8px;

    &--white {
        color: #fff;
    }

    &--small {
        font-size: 50px;
        line-height: 70px;
        letter-spacing: -1.5px;
    }
}



// main-kv
.main-kv {
    &__inner {
        overflow: hidden;
    }
}

.main-board {
    position: relative;
    overflow: hidden;

    &__cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #1F1F1F;
        overflow: hidden;
    }

    &__pc {
        display: flex;
        justify-content: space-between;
        transform: translate(0, 0);
        padding: 70px 120px;
        column-gap: 60px;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.2s;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;

        li {
            position: relative;

            &:nth-child(even) {
                .main-board__image {
                    animation: scale cubic-bezier(0.5, 1, 0.89, 1) 1.78s forwards;

                }
            }

            &:nth-child(odd) {
                .main-board__image {
                    animation: scale cubic-bezier(0.5, 1, 0.89, 1) 1.58s forwards;
                    animation-delay: 0.23s;
                }
            }
        }

        &--center {
            padding-top: 220px;
        }
    }

    &__image {
        position: relative;
        transform: scale(0);
        border-radius: 10px;
        overflow: hidden;
        overflow: hidden;
        box-shadow: 20px 50px 40px 0 rgba(0, 0, 0, 0.32);

        img {
            transition: 0.64s cubic-bezier(0.5, 1, 0.89, 1);
        }

        &:hover {
            img {
                transform: scale(1.23);
            }
        }

        @keyframes scale {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }
    }

    &__description {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        color: #fff;
        text-align: center;
        letter-spacing: -0.72px;
    }
}

.side-space {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 50px;
    border-radius: 0 0 0 10px;
    background: #1F1F1F;

    &::before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 0px;
        left: -30px;
        transform: rotate(180deg);
        width: 30px;
        height: 30px;
        border-radius: 0 0 0 10px;
        box-shadow: -10px 0 0 0 #1F1F1F;
    }

    &::after {
        display: inline-block;
        content: "";
        position: absolute;
        left: 120px;
        bottom: -30px;
        transform: rotate(180deg);
        width: 30px;
        height: 30px;
        border-radius: 0 0 0 10px;
        box-shadow: -10px 0 0 0 #1f1f1f;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 140px;
        height: 40px;
        margin-left: 10px;
        border-radius: 10px;
        background-color: bisque;
        font-weight: 600;
        color: #fff;
        z-index: 1;

        &--blue01 {
            background-color: #4B6A9C;
        }

        &--blue02 {
            background-color: #1A3F7C;
        }

        &--blue03 {
            background-color: #414B5C;
        }
    }
}


// main-slogan
.main-slogan {
    position: relative;
    height: 100vh;
    background: #1F1F1F;
    line-height: 90px;
    color: #fff;
    text-align: center;
    overflow: hidden;

    &__wrap {
        position: relative;
        height: 100%;
    }

    &__group {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    &__text {
        overflow: hidden;
        white-space: nowrap;

        h4 {
            transform: translateY(110%);
            font-size: 60px;
            font-weight: 700;
            letter-spacing: -1.8px;
            scale: (1.3);
        }
    }

    &__marquee {
        display: flex;
        align-items: center;
        gap: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        color: #000;
        white-space: nowrap;
        z-index: 3;
        opacity: 0;

        h4 {
            display: inline-block;
            flex-shrink: 0;
            font-size: 80px;
            font-weight: 700;
            letter-spacing: -2.4px;
        }
    }

    &__imagewrap {
        font-size: 0;
        white-space: nowrap;

        ul {
            display: flex;
            align-items: center;
            font-size: 0;
            column-gap: 40px;
            white-space: nowrap;

            li {
                display: inline-block;
                position: relative;
                width: 500px;
                height: 304px;
                font-size: 0;
            }
        }
    }

    &__image {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        &--scale {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: url(../images/main/service-bg02.jpg);
            background-position: center;
            background-size: cover;
            overflow: hidden;
            transform-origin: center center;
        }
    }
}

.highlight {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    z-index: 0;
}

.bg {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

.overlay-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: all 0.2s;
}

.section--slogan .section__inner {
    position: relative;
}

// main-service
.main-service {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &__slide {
        position: relative;
        height: 100vh;
    }

    &__list {
        height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: none;
        background-size: cover;


        &--01 {
            // background-image: url(../images/main/service-bg02.jpg);
        }

        &--02 {
            background-image: url(../images/main/service-bg01.jpg);
        }

        &--03 {
            background-image: url(../images/main/service-bg03.jpg);
        }

    }

    &__button {
        position: absolute;
        top: 30%;
        left: 0;
        z-index: 1;

        li {
            width: 320px;
            padding: 30px 50px 30px 150px;
            border-radius: 0 999px 999px 0;
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            color: #fff;
            opacity: 0.4;
            cursor: pointer;
            letter-spacing: -0.9px;
            transition: all 0.5s;

            &.active {
                width: 320px;
                background: linear-gradient(90deg, #8CD05F 0%, #56A1DE 77.25%);
                opacity: 1;
            }
        }
    }

    &__cont {
        display: flex;
        gap: 293px;
        width: 100%;
        height: 425px;
        padding-left: 423px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex-basis: 527px;
        // padding-top: 100px;
        color: #fff;
    }

    &__entitle {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }

    &__kotitle {
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1.8px;
    }

    &__description {
        margin-top: 30px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.54px;
    }

    &__image {
        border-radius: 10px;
        overflow: hidden;
    }

    &__link {
        width: 180px;
        margin-top: auto;

        li {
            position: relative;
            width: 100%;

            &+li {
                margin-top: 10px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-image: url(../images/common/right_arrow_white.svg);
                background-position: center;
                background-size: cover;
                transition: all 0.3s;
            }

            &:hover {
                &::before {
                    right: 0;
                }
            }

            a {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.main-full {
    height: 100%;
}

// main-info
.main-info {
    background-image: url(../images/main/main-info_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
        row-gap: 150px;
    }

    // &__content {
    //     margin-top: 15vh;
    // }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 200px;
        row-gap: 97px;

        li {
            width: calc((100% - 400px) / 3);
            text-align: center;

            strong {
                font-family: "FamiljenGrotesk";
                font-size: 60px;
                font-weight: 700;
                line-height: 70px;
                color: #fff;
                letter-spacing: -1.8px;
            }

            p {
                padding-top: 20px;
                font-size: 18px;
                line-height: 28px;
                color: #7E94A9;
                letter-spacing: -0.54px;
            }
        }
    }
}

.main-global {
    position: relative;
    min-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 150px 0 100px;
    background-color: #223644;

    .title {
        position: relative;
        z-index: 1;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
    }

    &__btn {
        margin: 0 auto;
    }

    &__btnlist {
        opacity: 0;
        display: flex;
        column-gap: 20px;
        justify-content: center;
        transition: 0.54s ease;
        &.active {
            opacity: 1;
        }
    }

    &__map {
        position: relative;
        margin-top: 60px;
        
    }
    &__bg {
        li {
            text-align: center;
            img {
                display: inline-block;
                width: 60vw;
                max-width: 1150px;
            }
        }
    }
}

.global-swiper {
    width: 100%;
    margin-top: -45px;
    padding: 0 150px;
    color: #fff;
    
    &__item {
        max-width: 300px;
        width: 100%;
        height: 100%;
    }

    &__image {
        border-radius: 10px;
        overflow: hidden;
    }

    &__description {
        margin-top: 20px;

        span {
            font-family: "Neuzeit Grotesk";
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h4 {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -0.54px;
            color: #fff;
        }
    }

    .swiper-container {
        width: 600px;
        height: 300px;
    }

    .swiper-slide {
        transform: translateX(100px);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
}

.main-news {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 20px;

    &__partnership {
        width: 100%;
        margin-top: 100px;
    }

    &__list {
        li {

            &+li {
                margin-top: 120px;
            }

            a {
                &:hover {
                    .main-news__title {
                        &::after {
                            width: 100%;
                        }
                    }

                    .main-news__image {
                        img {
                            transform: scale(1.23);
                        }
                    }
                }

            }

        }
    }

    &__container {
        display: block;
        display: flex;
        column-gap: 130px;
    }

    &__top {
        position: relative;
        margin-top: 30px;
    }


    &__bottom {
        margin-top: 40px;
    }

    &__left {
        flex-basis: 1000px;
    }

    &__content {
        width: 100%;
    }

    &__category {
        background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
        font-family: "Neuzeit Grotesk";
        font-size: 24px;
        font-weight: 700;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__title {
        position: relative;
        padding-bottom: 40px;
        border-bottom: 1px solid #ddd;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: -1.26px;

        &::after {
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: 0.34s ease;
        }



        h4 {
            display: block;
            display: -webkit-box;
            height: 105px;
            overflow: hidden;
            word-break: keep-all;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;


        }


    }

    &__description {
        font-size: 24px;
        color: #444;
        letter-spacing: -0.72px;
    }

    &__date {
        padding-top: 30px;
        font-size: 18px;
        line-height: 16px;
        color: #999;
    }

    &__right {
        display: flex;
        flex-shrink: 0;
        flex-basis: 490px;
        justify-content: center;
        align-items: center;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 337px;
        border-radius: 10px;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.32s ease;
        }

    }
}

.main-marquee {
    &__slide {
        margin-top: 80px;

        ul {
            display: flex;
            gap: 10px;
        }
    }

    &__image {
        width: 270px;
        height: 110px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url(../images/main/main-banner.jpg);
    background-position: center;
    background-size: cover;

    &__button {
        width: 100%;
        margin-top: 60px;
        text-align: center;
    }
}


/* 슬라이더 */
.prdslider {
    position: relative;
    width: 100%;
    height: 100%;
}

.box1 {
    font-size: 62px;
    font-weight: 700;
    color: #000;
}

.box2 {
    height: 100vh;
    background-color: #000;

    ul {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0 -10px;
        white-space: nowrap;

        li {
            display: inline-block;
            padding: 0 10px;
        }
    }

    &__inner {
        position: relative;
        height: 100vh;
        padding: 120px 40px;
    }
}

/* 슬라이더 */