@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    font-family: 'NotoSansKR', 'NeuzeitGrotesk', sans-serif;
}

.tac {
    text-align: center;
}

/* 버튼 */
.btn {
    display: inline-block;
    min-width: auto;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    line-height: 0;
    letter-spacing: normal;
}

.btn-default {
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 25px;

    &__text {
        font-family: "NeuzeitGrotesk";
        font-weight: 500;
        line-height: 48px;
        color: #fff;
        text-align: center;
        transition: all 0.3s;

        &--pl {
            position: relative;
            padding-left: 20px;
            font-size: 14px !important;

            &::before {
                display: inline-block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
            }
        }

        &--apple {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/apple.svg) center / auto no-repeat;
            }
            .btn-default__text {
                font-weight: 700;
            }
        }

        &--google {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/google.svg) center / auto no-repeat;
            }
            .btn-default__text {
                font-weight: 700;
            }
        }
    }

    &--regular {
        min-width: 158px;
    }

    &--white {
        background-color: transparent;

        .btn-default__text {
            color: #fff;
        }

    }

    &--black {
        background-color: transparent;
        border: 1px solid #000;

        .btn-default__text {
            color: #000;
            font-size: 16px;
        }

    }

    &--bnw {
        background-color: #fff;
        border: 1px solid #fff;

        .btn-default__text {
            color: #000;
            font-size: 16px;
        }
    }

    &--gradient {
        background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
        padding: 0 50px;
        border: none;

        .btn-default__text {
            color: #fff;
            font-size: 16px;

            &--diff {
                font-size: 12px;
                line-height: 44px;
            }
        }
    }
}

.footer {
    position: relative;
    background-color: #111111;
    color: #fff;
    min-width: auto;
    padding: 0;

    &::before {
        display: none;
    }

    &__inner {
        margin: 0 auto;
        padding: 60px 20px 40px;
    }

    &__title {
        h2 {
            font-family: "NeuzeitGrotesk";
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    &__list {
        justify-content: space-between;
        padding-top: 35px;

    }

    &__menu {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        button {
            position: relative;
            display: block;
            width: 100%;
            padding: 17px 30px 17px 0;

            text-align: left;

            &.active {
                strong {
                    color: #fff;
                }

                &::after {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }

            strong {
                display: block;
                font-size: 16px;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                display: inline-block;
                background-color: #fff;
                transform: translateY(-50%);
                transition: 0.13s ease;
            }

            &::before {
                right: 15px;
                width: 10px;
                height: 2px;
            }

            &::after {
                right: 19px;
                width: 2px;
                height: 10px;
            }
        }


        ul {
            padding: 15px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.3);

            li {
                padding: 5px 0;
                font-size: 14px;
                font-weight: 300;
                line-height: 1;
                letter-spacing: -0.48px;

                &:first-child {
                    font-family: "Neuzeit Grotesk";
                    font-size: 18px;
                    line-height: 18px
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: block;
                    font-size: 14px;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }


    }

    .toggle__menu {
        overflow: hidden;
        height: 0;
        transition: 0.43s ease;
    }

    &__bottom {
        padding-top: 40px;
    }

    &__etc {}

    &__site {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 10px;

            li {
                font-size: 14px;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.42px;

                a {
                    &:hover {
                        color: #fff;
                    }
                }

            }
        }
    }

    &__select {
        position: relative;
        font-size: 0;

        .footer__button {
            position: relative;
            display: inline-block;
            font-family: "Neuzeit Grotesk";
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            padding-right: 20px;

            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                margin-top: 2px;
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                transform: translateY(-50%) rotate(135deg);
                transition: 0.23s ease;
            }

            &.active {
                &::after {
                    margin-top: -2px;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }

    &__container {
        height: 150px;
        padding: 5px 15px;
        overflow-y: auto;
        border: 1px solid #fff;
        border-radius: 15px;

        ul {
            li {
                font-size: 0;
                border-bottom: 1px solid #2b2b2b;

                &:last-child {
                    border-bottom: none;
                }

                a {
                    display: block;
                    font-family: "Neuzeit Grotesk";
                    font-size: 14px;
                    line-height: 30px;
                    color: #fff;
                    word-break: keep-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    &__toggle {
        overflow: hidden;
        position: absolute;
        bottom: 24px;
        right: 0;
        width: 200px;
        height: 0;
        background-color: #111;
        transition: 0.23s ease;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;
        padding-top: 40px;
        font-size: 14px;

        p {
            display: flex;
            justify-content: space-between;
            column-gap: 15px;
        }
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        margin-top: 30px;
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;

        p {
            font-family: "Neuzeit Grotesk";
            font-size: 12px;
            letter-spacing: 0;
            font-weight: 300;
            color: #fff;
        }
    }
}

.top-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    button {
        display: inline-block;
        width: 100%;
        text-align: center;
        background-color: #222;

        span {
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            line-height: 40px;
            position: relative;
            padding-right: 20px;
            &::before {
                content:'';
                position: absolute;
                top: 15px;
                right: 0;
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url(../images/mo/icon_top_arrow.svg) center / contain no-repeat;
            }
        }
    }
}

// 241101 원본 css (_layout.scss)에 추가 필요.
.gnb.modal {
    width: calc(100% - 50px);
    margin-left: 50px;
    padding-left: 0;
}
.gnb.modal .modal-dialog .gnb-content .gnb-body > ul > li > a {
    width: 100%;
}
.gnb.modal .modal-dialog .gnb-content .gnb-body > ul > li > a::after {
    right: 20px;
}