@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';


.wrap {
    .container {
        padding: 0;
    }
}

/* 버튼 */
.btn {
    display: inline-block;
    min-width: auto;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    line-height: 0;
    letter-spacing: normal;
}

.btn-default {
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 25px;

    &__text {
        font-family: "NeuzeitGrotesk";
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        color: #fff;
        text-align: center;
        transition: all 0.3s;

        &--pl {
            position: relative;
            padding-left: 20px;

            &::before {
                display: inline-block;
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
            }
        }

        &--apple {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/apple.svg) center / auto no-repeat;
            }
        }

        &--google {
            &::before {
                width: 14px;
                height: 16px;
                background: url(../images/sub/google.svg) center / auto no-repeat;
            }
        }
    }

    &--regular {
        min-width: 158px;
    }

    &--white {
        background-color: transparent;

        .btn-default__text {
            color: #fff;
        }

        &:hover {
            border: 1px solid rgba(255, 255, 255, 0.7);
            background-color: rgba($color: white, $alpha: 0.1);
        }
    }

    &--bnw {
        background-color: #fff;
        border: 1px solid #fff;

        .btn-default__text {
            color: #000;
            font-size: 16px;
        }
    }
}


.gentok {
    padding-top: 70px;

    &__title {
        padding: 54px 10px 50px 10px;
        text-align: center;

        h3 {
            font-family: "Neuzeit Grotesk";
            font-size: 40px;
            font-weight: 700;
            line-height: 46px;
        }
    }

    &__kv {
        position: relative;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%),
            linear-gradient(150deg, #FF781F 36.6%, #FF8F17 50.11%, #FFAE21 62.25%);
    }

    &__content {
        position: relative;
        padding: 60px 26px 281px 26px;

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            right: 0px;
            bottom: -28px;
            width: 375px;
            height: 282px;
            background: url(../images/sub/img_gentok.png) center / contain no-repeat;
        }
    }

    &__text {
        color: #fff;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.72px;
    }

    &__kvtitle {
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: -1.5px;
    }

    &__description {
        margin-top: 20px;
        line-height: 24px;
        letter-spacing: -0.48px;
    }

    &__btnwrap {
        padding-top: 52px;

        ul {
            display: flex;
            column-gap: 7px;
        }
    }
}


.examine {
    padding: 92px 0 60px 0;

    &__list {
        li {
            max-width: 265px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 4px 40px 0px rgba(4, 12, 29, 0.12)
        }
    }

    &__function {
        padding: 0 20px 0 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 24px 42px 30px;
    }

    &__num {
        display: inline-block;
        font-family: "Neuzeit Grotesk";
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: #83D8FF;
        font-style: normal;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.54px;
    }

    &__check {
        margin-top: 124px;
        padding: 0 20px;
    }

    &__checklist {
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        >li {
            position: relative;
            padding: 125px 0 0 0;
            border-radius: 10px;

            &:nth-child(1) {
                background-color: #FFAD29;

                .examine__hideclose {
                    background-color: #FFA20C;
                }
            }

            &:nth-child(2) {
                background-color: #60B9DF;

                .examine__hideclose {
                    background-color: #4CAFDA;
                }
            }

            &:nth-child(3) {
                background-color: #73C044;

                .examine__hideclose {
                    background-color: #65B435;
                }
            }
        }
    }

    &__checkimage {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    &__content {
        text-align: center;
        color: #fff;
        padding: 0 30px;

        >button {
            display: inline-block;
            width: 24px;
            height: 24px;
            padding: 0;
            font-size: 0;
            margin-top: 20px;

            &::before,
            &::after {
                display: inline-block;
                content: '';
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                transition: 0.13s ease;
            }

            &::before {
                width: 2px;
                height: 24px;
            }

            &::after {
                width: 24px;
                height: 2px;
            }

            &.active {
                &::before {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }

    &__title {
        p {
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.54px;
        }

        h4 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.9px;
        }
    }

    &__desc {
        margin-top: 10px;

        p {
            line-height: 24px;
            letter-spacing: -0.48px;
        }
    }

    &__hidecont {
        position: relative;
        height: 0;
        padding-top: 30px;
        overflow: hidden;
        transition: 0.5s ease;
    }

    &__hidewrap {
        padding: 30px 30px 50px 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        color: #fff;
        position: relative;
    }

    &__hidebottom {
        padding-top: 20px;
    }

    &__hidelist {
        li {
            &+li {
                margin-top: 15px;
            }
        }
    }

    &__itemname {
        padding-left: 10px;
        position: relative;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.48px;

        &::before {
            position: absolute;
            content: "";
            top: 10px;
            left: 0%;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__itemdesc {
        line-height: 22px;
        letter-spacing: -0.48px;
        margin-top: 5px;
    }

    &__hidebutton {
        margin-top: 20px;
        text-align: center;
    }

    &__hideclose {
        position: absolute;
        bottom: -30px;
        left: 0;
        text-align: center;
        width: 100%;
        border-radius: 0 0 10px 10px;
        transition: all 0.4s;
        line-height: 30px;
        font-family: "Neuzeit Grotesk";
        font-size: 14px;
        font-weight: 700;
        color: #fff;

        &.active {
            bottom: 0;
        }

        span {}
    }
}






























@media screen and (max-width: 375px) {
    .gentok__btnwrap ul {
        flex-direction: column;
        align-items: center;
    }

    .gentok__btnwrap {
        padding-top: 30px;
    }

    .gentok__content::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .gentok__btnwrap li {
        width: 100%;
    }

    .gentok__btnwrap ul {
        row-gap: 7px;
    }

    .gentok__btnwrap .btn-default--regular {
        width: 100%;
    }
}