@import 'common/mixin';

#wrap {
    position: static;
    min-width: auto;
    overflow: hidden;

    .header-main {
        position: absolute;
        top: 0;
        left: 0;
        max-width: none;
        width: 100%;
    }

}

.wrap {
    .container {
        padding: 0;
    }
}


.section {
    height: 100vh;

    &--kv {
        height: auto;
        padding-top: 70px;
    }

    &--auto {
        height: auto;
    }

    &__inner {
        height: 100%;
    }

    &--news {
        height: auto;
        padding: 100px 0;
    }

    &--marquee {
        height: auto;
        padding: 80px 0;
    }

    &--banner {
        height: auto;
    }

    &--global {
        width: 100%;
        height: auto;

        &.active {
            .global-swiper {
                .swiper-slide {
                    &.active {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.scroll-area {
    height: 100vh;
    overflow-y: auto;
}

.title {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.9px;

    &--white {
        color: #fff;
    }

    &--small {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.72px
    }
}



// main-kv
.main-kv {
    &__inner {
        height: 100%;
        overflow: hidden;
    }
}

.main-board {
    position: relative;
    height: 100%;
    overflow: hidden;

    &__cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: #fff;
        overflow: hidden;
    }

    &__mo {
        display: grid;
        // max-width: 769px;
        width: 100%;
        height: 100%;
        padding: 15px 20px;
        row-gap: 15px;
        justify-content: center;
    }

    &__row {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 15px;

        li {

            &:nth-child(even) {
                .main-board__image {
                    animation: scale cubic-bezier(0.5, 1, 0.89, 1) 1.78s forwards;

                }
            }

            &:nth-child(odd) {
                .main-board__image {
                    animation: scale cubic-bezier(0.5, 1, 0.89, 1) 1.58s forwards;
                    animation-delay: 0.23s;
                }
            }
        }
    }

    &__image {
        position: relative;
        transform: scale(0);
        border-radius: 15px;
        overflow: hidden;
        font-size: 0;

        img,
        video {
            max-width: 100%;
            width: 100%;
        }

        @keyframes scale {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }
    }

    &__description {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
}

// main-slogan
.main-slogan {
    position: relative;
    height: 100vh;
    background: #fff;
    line-height: 90px;
    color: #000;
    text-align: center;
    overflow: hidden;

    &__wrap {
        position: relative;
        height: 100%;
    }

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__text {
        overflow: hidden;
        white-space: nowrap;

        &+.main-slogan__text {
            margin-top: 5px;
        }

        h4 {
            transform: translateY(100%);
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            font-style: normal;
            letter-spacing: -0.9px;
            scale: (1.3);
        }
    }

    &__marquee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #fff;
        row-gap: 44px;
        white-space: nowrap;
        z-index: 3;
        opacity: 0;

        h4 {
            display: inline-block;
            flex-shrink: 0;
            position: absolute;
            top: calc(50% - 100px);
            left: 150%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            opacity: 0;
            letter-spacing: -0.9px;
        }
    }

    &__imagewrap {
        position: absolute;
        top: 50%;
        left: -150%;
        transform: translate(-50%, -50%);
        font-size: 0;
        opacity: 0;
        white-space: nowrap;

        ul {
            display: flex;
            align-items: center;
            font-size: 0;
            column-gap: 8px;
            white-space: nowrap;

            li {
                display: inline-block;
                position: relative;
                width: 106px;
                height: 60px;
                font-size: 0;
            }
        }
    }

    &__image {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        &--scale {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: url(../images/mo/service-bg02.jpg);
            background-position: center;
            background-size: cover;
            overflow: hidden;
            transform-origin: center center;
            z-index: 4;
        }
    }
}

.highlight {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    padding: 0 5px;
    z-index: 0;
    font-weight: 700;
}

.bg {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

.overlay-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1F273B;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: all 0.2s;
}

.section--slogan .section__inner {
    position: relative;
}

// main-service
.main-service {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &__slide {
        position: relative;
        height: 100vh;
    }

    &__list {
        height: 100%;
    }

    &__item {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        background-image: none;
        background-position: center;
        background-size: cover;

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }


        &--01 {
            // background-image: url(../images/main/service-bg02.jpg);
        }

        &--02 {
            background-image: url(../images/mo/service-bg01.jpg);
        }

        &--03 {
            background-image: url(../images/mo/service-bg03.jpg);
        }

    }

    &__button {
        display: flex;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px);
        z-index: 1;

        li {
            flex: 1;
            padding: 0 10px 0 10px;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 700;
            line-height: 45px;
            color: #fff;
            text-align: center;
            opacity: 0.4;
            cursor: pointer;
            letter-spacing: -0.54px;
            transition: all 0.5s;

            &.active {
                background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
                opacity: 1;
            }
        }
    }

    &__cont {
        display: flex;
        width: 100%;
        padding: 150px 20px 50px 20px;
    }

    &__left {
        color: #fff;
    }

    &__entitle {
        font-weight: 700;
        line-height: 16px;
    }

    &__kotitle {
        font-size: 42px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -1.26px;
    }

    &__description {
        margin-top: 30px;
        line-height: 24px;
        letter-spacing: -0.54px;
    }

    &__image {
        border-radius: 10px;
        overflow: hidden;
    }

    &__link {
        display: grid;
        max-width: 220px;
        margin-top: 60px;
        grid-template-columns: 1fr;
        row-gap: 12px;

        li {
            position: relative;
            width: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-image: url(../images/common/right_arrow_white.svg);
                background-position: center;
                background-size: cover;
                transition: all 0.3s;
            }

            a {
                display: inline-block;
                position: relative;
                width: 100%;
                line-height: 24px;
                color: #fff;

                &::before {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: #fff;
                    transition: 0.23s ease;
                }
            }
        }
    }
}

.main-full {
    height: 100%;
}

// main-info
.main-info {
    background-image: url(../images/main/main-info_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
        row-gap: 80px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 50px;

        li {
            width: calc((100% - 10px) / 2);
            text-align: center;

            strong {
                font-family: "FamiljenGrotesk";
                font-size: 34px;
                font-weight: 700;
                line-height: 40px;
                color: #fff;
                letter-spacing: -0.9px;

                span {
                    font-weight: 700;
                }
            }

            p {
                padding-top: 10px;
                line-height: 24px;
                color: #7E94A9;
                letter-spacing: -1.1px;

            }
        }
    }
}

.main-global {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 90px 0;
    background-color: #fff;

    .title {
        position: relative;
        z-index: 1;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
        padding: 0 17px;
    }

    &__btnwrap {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        color: #666;
    }

    &__select {
        display: inline-block;
        position: relative;
        min-width: 180px;
        margin: 0 auto;
        padding: 0 30px;
        border-radius: 20px;
        background: #F7F7F7;

        &.active {
            .main-global__selecttext {
                &::before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    &__selecttext {
        position: relative;
        line-height: 40px;
        font-family: "NeuzeitGrotesk";
        font-weight: 700;
        z-index: 3;

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url(../images/mo/select_arrow.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.23s ease;
        }
    }

    &__option {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 0px;
        border-radius: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: #F7F7F7;
        overflow: hidden;
        z-index: 2;
        transition: 0.34s ease;
    }

    &__optionlist {
        transition: all 0.4s;
        padding: 20px 10px 0;

        li {
            button {
                display: block;
                width: 100%;
                text-align: left;
                line-height: 24px;
                padding: 10px 20px;
                font-family: "NeuzeitGrotesk";
                font-weight: 700;
            }
        }
    }

    &__map {
        position: relative;
        margin-top: 20px;
    }

    &__bg {
        li {
            text-align: center;

            img {
                display: inline-block;
                max-width: 500px;
                width: 100%;
            }
        }
    }
}

.global-swiper {
    width: 100%;
    margin-top: 40px;
    color: #fff;

    &__item {
        width: auto;
        height: 100%;
    }

    &__image {
        border-radius: 5px;
        overflow: hidden;

        img {
            max-width: 190px;
            width: 100%;
        }
    }

    &__description {
        margin-top: 10px;

        span {
            background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
            font-family: "NeuzeitGrotesk";
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h4 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #000;
            letter-spacing: -0.48px;
        }
    }

    .swiper-container {
        width: 600px;
        height: 300px;
    }

    .swiper-slide {
        transform: translateX(100px);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
}

.main-news {
    margin: 0 auto;


    &__partnership {
        width: 100%;
        margin-top: 52px;
    }

    &__wrap {
        padding: 0 20px;
    }

    &__list {
        li {

            &+li {
                margin-top: 50px;
            }
        }
    }

    &__container {
        display: block;

        &:hover {
            color: unset;
        }
    }

    &__top {
        position: relative;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;

        &::after {
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: 0.34s ease;
        }
    }

    &__bottom {
        padding-top: 20px;
    }

    &__left {
        flex-basis: 1000px;
    }

    &__content {
        width: 100%;
    }

    &__category {
        background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
        font-family: "NeuzeitGrotesk";
        font-weight: 700;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__title {
        display: -webkit-box;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        overflow: hidden;
        letter-spacing: -1.26px;
        word-break: keep-all;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__description {
        display: -webkit-box;
        overflow: hidden;
        letter-spacing: -0.48px;
        word-break: keep-all;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__date {
        display: block;
        margin-top: 20px;
        font-size: 14p;
        line-height: 14px;
        color: #999;
    }

    &__right {
        display: flex;
        flex-shrink: 0;
        flex-basis: 490px;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 290px;

        border-radius: 10px;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.32s ease;
        }

    }
}

.main-marquee {
    &__slidewrap {
        margin-top: 40px;
    }

    &__slide {
        +.main-marquee__slide {
            margin-top: 10px;
        }


        ul {
            display: flex;
            gap: 10px;
        }
    }

    &__image {
        width: 172px;
        height: 70px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 94px 0;
    background-image: url(../images/main/main-banner.jpg);
    background-position: center;
    background-size: cover;

    &__button {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }
}


/* 슬라이더 */
.prdslider {
    position: relative;
    width: 100%;
    height: 100%;
}

.box1 {
    font-size: 62px;
    font-weight: 700;
    color: #000;
}

.box2 {
    height: 100vh;
    background-color: #000;

    ul {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0 -10px;
        white-space: nowrap;

        li {
            display: inline-block;
            padding: 0 10px;
        }
    }

    &__inner {
        position: relative;
        height: 100vh;
        padding: 120px 40px;
    }
}

/* 슬라이더 */