.gentok {
    padding-top: 70px;

    &__title {
        padding: 54px 10px 50px 10px;
        text-align: center;

        h3 {
            font-family: "Neuzeit Grotesk";
            font-size: 40px;
            font-weight: 700;
            line-height: 46px;
        }
    }

    &__kv {
        position: relative;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%),
            linear-gradient(150deg, #FF781F 36.6%, #FF8F17 50.11%, #FFAE21 62.25%);
    }

    &__content {
        position: relative;
        padding: 60px 26px 281px 26px;

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            right: 0px;
            bottom: -28px;
            width: 375px;
            height: 282px;
            background: url(../images/sub/img_gentok.png) center / contain no-repeat;
        }
    }

    &__text {
        color: #fff;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.72px;
    }

    &__kvtitle {
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: -1.5px;
    }

    &__description {
        margin-top: 20px;
        line-height: 24px;
        letter-spacing: -0.48px;
    }

    &__btnwrap {
        padding-top: 52px;

        ul {
            display: flex;
            column-gap: 7px;
        }
    }
}


.examine {
    padding: 92px 0 60px 0;

    &__container {
        padding: 0 20px;
    }

    &__list {
        li {
            max-width: 265px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 4px 40px 0px rgba(4, 12, 29, 0.12)
        }
    }



    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 24px 42px 30px;
    }

    &__num {
        display: inline-block;
        font-family: "Neuzeit Grotesk";
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: #83D8FF;
        font-style: normal;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.54px;
    }

    &__check {
        margin-top: 124px;
    }

    &__checklist {
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        >li {
            position: relative;
            padding: 125px 0 0 0;
            border-radius: 10px;

            &:nth-child(1) {
                background-color: #FFAD29;

                .examine__hideclose {
                    background-color: #FFA20C;
                }
            }

            &:nth-child(2) {
                background-color: #60B9DF;

                .examine__hideclose {
                    background-color: #4CAFDA;
                }
            }

            &:nth-child(3) {
                background-color: #73C044;

                .examine__hideclose {
                    background-color: #65B435;
                }
            }
        }
    }

    &__checkimage {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    &__content {
        padding: 0 25px;
        color: #fff;
        text-align: center;

        >button {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-top: 20px;
            padding: 0;
            font-size: 0;

            &::before,
            &::after {
                display: inline-block;
                content: '';
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                transition: 0.13s ease;
            }

            &::before {
                width: 2px;
                height: 24px;
            }

            &::after {
                width: 24px;
                height: 2px;
            }

            &.active {
                &::before {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }

    &__title {
        p {
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.54px;
        }

        h4 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.9px;
        }
    }

    &__desc {
        margin-top: 10px;

        p {
            line-height: 24px;
            letter-spacing: -0.48px;
        }
    }

    &__hidecont {
        position: relative;
        height: 0;
        padding-top: 30px;
        overflow: hidden;
        transition: 0.5s ease;
    }

    &__hidewrap {
        position: relative;
        margin: 0 30px;
        padding: 30px 0 50px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    &__hideimage {
        img {
            width: 100%;
        }
    }

    &__hidebottom {
        padding-top: 20px;
    }

    &__hidelist {
        li {
            &+li {
                margin-top: 15px;
            }
        }
    }

    &__itemname {
        position: relative;
        padding-left: 10px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.48px;

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0%;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__itemdesc {
        margin-top: 5px;
        line-height: 22px;
        letter-spacing: -0.48px;
    }

    &__hidebutton {
        margin-top: 20px;
        text-align: center;
    }

    &__hideclose {
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        border-radius: 0 0 10px 10px;
        font-family: "Neuzeit Grotesk";
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        color: #fff;
        text-align: center;
        transition: all 0.4s;

        &.active {
            bottom: 0;
        }

        span {}
    }
}

.slide-banner {
    position: relative;
    width: 100%;
    margin-top: 60px;
    // border: 1px solid red;
    overflow: hidden;


    &__item {
        &--01 {
            background: #BBD7FF;
            background-image: url(../images/mo/slide-banner_img01.jpg);
            background-position: center;
            background-size: cover;
        }

        &--02 {
            background: #F1D8FF;
            background-image: url(../images/mo/slide-banner_img02.jpg);
            background-position: center;
            background-size: cover;
        }
    }

    &__cont {
        padding: 60px 18px 250px 30px;
    }
}


@media screen and (max-width: 374px) {
    .gentok__btnwrap ul {
        flex-direction: column;
        align-items: center;
    }

    .gentok__btnwrap {
        padding-top: 30px;
    }

    .gentok__content::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .gentok__btnwrap li {
        width: 100%;
    }

    .gentok__btnwrap ul {
        row-gap: 7px;
    }

    .gentok__btnwrap .btn-default--regular {
        width: 100%;
    }
}