@import 'common/mixin';


.gray {
    background-color: #F7F7F7;
}

.container {
    position: relative;
}

.gentok {
    padding-top: 124px;

    &__title {
        padding: 100px 0;
        text-align: center;

        h2 {
            font-family: "Neuzeit Grotesk";
            font-size: 80px;
            font-weight: 700;
            line-height: 80px;
        }
    }

    &__kv {
        position: relative;
        min-width: 1280px;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), linear-gradient(77deg, #FF781F 28.33%, #FF8F17 51.32%, #FFAE21 71.96%);
    }

    &__content {
        position: relative;
        max-width: 1640px;
        width: 100%;
        margin: 0 auto;
        padding: 135px 20px;

        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            right: -90px;
            bottom: -70px;
            width: 890px;
            height: 680px;
            background: url(../images/sub/img_gentok.png) center / contain no-repeat;
        }
    }

    &__text {
        position: relative;
        padding: 0 135px;
        color: #fff;
    }

    &__subtitle {
        font-size: 42px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -1.26px;
    }

    &__kvtitle {
        margin-top: 10px;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: -2.4px;
    }

    &__description {
        margin-top: 24px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.6px;
    }

    &__btnwrap {
        margin-top: 60px;

        ul {
            display: flex;
            column-gap: 10px;
        }
    }

    &__btn {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 45px;

        a {
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 5px;
            padding: 16px 34px;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            color: #fff;
        }
    }
}

.examine {
    padding: 120px 0 120px 0;

    &__container {
        max-width: 1640px;
        min-width: 1480px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 50px;

        li {
            flex: 1;
            padding: 50px 20px;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0px 4px 40px 0px rgba(4, 12, 29, 0.12);
        }
    }

    &__inner {
        text-align: center;
    }

    &__num {
        display: inline-block;
        margin-top: 40px;
        font-family: "Neuzeit Grotesk";
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        color: #83D8FF;
    }

    &__name {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
        letter-spacing: -0.72px;
    }

    &__check {
        margin-top: 120px;
    }

    &__checklist {
        >li {
            position: relative;
            padding: 43px 74px 0px 370px;
            border-radius: 10px;
            color: #fff;

            &+li {
                margin-top: 50px;
            }

            &:nth-child(1) {
                background-color: #FFAD29;
            }

            &:nth-child(2) {
                background-color: #60B9DF;
            }

            &:nth-child(3) {
                background-color: #73C044;
            }
        }
    }

    &__checkimage {
        position: absolute;
        top: -40px;
        left: 60px;
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        padding-right: 60px;
        column-gap: 55px;

        >button {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            padding: 0;
            font-size: 0;

            &::before,
            &::after {
                display: inline-block;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                transition: 0.13s ease;
            }

            &::before {
                width: 2px;
                height: 34px;
            }

            &::after {
                width: 34px;
                height: 2px;
            }

            &.active {
                &::before {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }

    &__title {
        flex-shrink: 0;
        flex-basis: 230px;

        p {
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: -0.72px;
        }

        h4 {
            font-size: 42px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: -1.26px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.6px;
    }


    &__hidecont {
        height: 0;
        padding-top: 43px;
        overflow: hidden;
        transition: 0.5s ease;
    }

    &__hidewrap {
        display: flex;
        gap: 40px;
        padding: 40px 0 50px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        &--diff {
            padding-left: 10px;
        }
    }

    &__hideleft {
        flex-shrink: 0;
        flex-basis: 380px;
    }

    &__hideright {
        flex-basis: 100%;
    }

    &__hidelist {
        padding-left: 10px;

        li {
            display: flex;
            position: relative;
            color: #fff;

            &+li {
                margin-top: 5px;
            }

            &::before {
                display: inline-block;
                content: "";
                position: absolute;
                top: 10px;
                left: -10px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }

    &__itemleft {
        flex-shrink: 0;
        flex-basis: 94px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.48px;

        &--diff {
            flex-basis: 260px;
        }
    }

    &__itemright {
        letter-spacing: -0.48px;
    }

    &__hidebutton {
        margin-top: 34px;
    }

}

.slide-banner {
    position: relative;
    width: 100%;
    margin-top: 120px;
    border-radius: 20px;
    overflow: hidden;

    &__item {

        &--01 {
            background-image: url(../images/sub/slide-banner_bg01.jpg);
            background-position: center;
            background-size: cover;
        }

        &--02 {
            background-image: url(../images/sub/slide-banner_bg02.jpg);
            background-position: center;
            background-size: cover;
        }
    }

    &__cont {
        padding: 108px 187px;

        h3 {
            margin-top: 16px;
            font-size: 50px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -1.5px;
        }
    }

    &__category {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.54px;
    }

    &__btn {
        margin-top: 45px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 0px;
    }

    .swiper-button-next {
        right: 50px;

    }

    .swiper-button-prev {
        left: 50px;
    }

    .swiper-pagination-bullet {
        background-color: #fff;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        background-image: url(../images/sub/slide_right_arrow.svg);
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        background-image: url(../images/sub/slide_left_arrow.svg);
    }

}

.about {
    &__inner {
        max-width: 1620px;
        width: 100%;
        margin: 0 auto;
        padding: 180px 20px 280px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1620px;
        margin: 0 auto;

        h3 {
            font-size: 60px;
            font-weight: 700;
            line-height: 80px;
            letter-spacing: -1.8px;
        }
    }


}

.about-slide {
    margin-top: 60px;
}

.advantage-slide {
    position: relative;

    &__wrap {

        li {
            max-width: 473px;
            border-radius: 20px;
            background-color: #fff;
            overflow: hidden;
            box-shadow: 0px 4px 40px 0px rgba(4, 12, 29, 0.12);
        }
    }

    &__top {
        padding: 65px 50px 30px 50px;
    }

    &__coma {
        width: 25px;
        height: 21px;
        background-image: url(../images/sub/coma.svg);
        background-position: center;
        background-size: cover;
    }

    &__description {
        margin-top: 25px;

        p {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.54px;
            @include ellipsis(3, 80px, 28px);
        }
    }

    &__image {
        margin-top: 35px;
    }

    &__package {
        margin-top: 20px;
    }

    &__tag {
        display: inline-block;
        padding: 2px 5px;
        border: 1px solid #E1E1E1;
        border-radius: 2px;
        background: #fff;
        font-size: 12px;
        font-weight: 500;
        color: #666;
        letter-spacing: -0.36px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 30px 50px;
        background: #F9F9F9;
    }

    &__review {
        display: flex;
        align-items: center;

    }

    &__name {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.54px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background: #DBDBDB;
        }

        sup {
            vertical-align: bottom;
        }
    }

    &__defaulttext {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        color: #666;
        letter-spacing: -0.42px;
    }

    &__star {
        display: flex;
        gap: 2px;

        .star {
            width: 20px;
            height: 20px;
            background-image: url(../images/sub/star.svg);
        }
    }

    &__progres {
        top: unset !important;
        left: 50% !important;
        bottom: -100px;
        transform: translateX(-50%);
        max-width: 1620px;
        width: 100%;
        height: 1px !important;
    }

    .swiper-pagination-progressbar-fill {
        top: -1px !important;
        height: 2px;
        background: #666 !important
    }
}

.comms-slide {
    position: relative;

    &__wrap {
        li {
            max-width: 400px;

            &:hover {
                .comms-slide__description {
                    p {
                        text-decoration: underline;
                        text-underline-offset: 6px;
                        text-decoration-thickness: 1px;
                        text-decoration-color: #666;
                    }
                }
            }
        }
    }

    &__image {
        border-radius: 10px;
        overflow: hidden;

        img {
            transition: transform 0.5s;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    &__sns {
        width: 40px;
        height: 40px;
        margin-top: 30px;

        &--blog {
            background-image: url(../images/sub/comms_blog.svg);
        }

        &--insta {
            background-image: url(../images/sub/comms_insta.svg);
        }

        &--youtube {
            background-image: url(../images/sub/comms_youtube.svg);
        }
    }

    &__description {
        margin-top: 20px;

        p {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.72px;
            @include ellipsis(2, 68px, 34px);
        }
    }

    &__date {
        margin-top: 20px;

        p {
            font-size: 14px;
            line-height: 20px;
            color: #666;
            letter-spacing: -0.42px;
        }
    }

    &__progres {
        top: unset !important;
        left: 50% !important;
        bottom: -100px;
        transform: translateX(-50%);
        max-width: 1620px;
        width: 100%;
        height: 1px !important;
    }

    .swiper-pagination-progressbar-fill {
        top: -1px !important;
        height: 2px;
        background: #666 !important;
    }
}

.contact-btn {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 10;

    &.fixed {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}