@charset "UTF-8";

// Text Ellipsis (IE fix)
// @type text
@mixin ellipsis($line:null, $height:auto, $lineHeight:inherit) {
    @if ($line==null) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        display: -webkit-box;
        height: $height;
        line-height: $lineHeight;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}



// $vw-size -> 1920 기준 vw 
// $max-size -> 1920 기준 최대 px
// $min-size -> 375 기준 최대 px 
@function dynamicSize($vw-size, $max-size, $min-size) {
    @return max(min($vw-size, $max-size), $min-size);
}