<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/sub_head.html") %>
    <body>
        <div class="wrap" id="wrap">
            <%- include("./include/header.html", { headerClass: 'black' }) %>
            <div class="container">
                <div class="gentok">
                    <div class="gentok__title">
                        <h2>Digital Healthcare</h2>
                    </div>
                    <div class="gentok__kv">
                        <div class="gentok__imagewrap">
                            <img src="../resources/assets/images/sub/gentok_kv.jpg" alt="" />
                        </div>
                        <div class="gentok__content">
                            <h4 class="gentok__subtitle">몸BTI 건강관리 플랫폼</h4>
                            <h3 class="gentok__kvtitle">젠톡</h3>
                            <p class="gentok__description">유전자 분석을 통해 타고난 나의 특성을 알고, 몸속 미생물 분석으로<br />현재 건강 상태를 모니터링하면서 건강한 삶을 만들어가요</p>
                            <div class="gentok__btnwrap">
                                <div class="gentok__btn">
                                    <a href="javascript:;">
                                        <img src="../resources/assets/images/sub/apple.svg" alt="" />
                                        <span>App Store</span>
                                    </a>
                                </div>
                                <div class="gentok__btn">
                                    <a href="javascript:;">
                                        <img src="../resources/assets/images/sub/google.svg" alt="" />
                                        <span>Google Play</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="examine">
                    <div class="examine__inner">
                        <div class="examine__function">
                            <ul class="examine__list">
                                <li>
                                    <div class="examine__image">
                                        <img src="../resources/assets/images/sub/func_image01.svg" alt="" />
                                    </div>
                                    <span class="examine__num">01</span>
                                    <p class="examine__name">
                                        129종의<br />
                                        다양한 검사항목
                                    </p>
                                </li>
                                <li>
                                    <div class="examine__image">
                                        <img src="../resources/assets/images/sub/func_image02.svg" alt="" />
                                    </div>
                                    <span class="examine__num">02</span>
                                    <p class="examine__name">
                                        보건복지부<br />
                                        인증기관
                                    </p>
                                </li>
                                <li>
                                    <div class="examine__image">
                                        <img src="../resources/assets/images/sub/func_image03.svg" alt="" />
                                    </div>
                                    <span class="examine__num">03</span>
                                    <p class="examine__name">
                                        1AI 챗봇<br />
                                        유전상담 서비스
                                    </p>
                                </li>
                                <li>
                                    <div class="examine__image">
                                        <img src="../resources/assets/images/sub/func_image04.svg" alt="" />
                                    </div>
                                    <span class="examine__num">04</span>
                                    <p class="examine__name">
                                        검사 항목별<br />
                                        관리 솔루션 제공
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="examine__check">
                            <ul class="examine__checklist">
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/sub/checklist_image01.png" alt="" />
                                    </div>
                                    <div class="examine__content">
                                        <div class="examine__title">
                                            <p>유전자 검사</p>
                                            <h4>젠톡</h4>
                                        </div>
                                        <p class="examine__text">
                                            비만, 탈모 등 총 129종 검사항목으로<br />
                                            그동안 알지 못했던 내 몸의 유전적 특성 알아봐요
                                        </p>
                                        <div class="examine__plus">
                                            <a href="javascript:;">
                                                <img src="../resources/assets/images/sub/plus.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/sub/checklist_image02.png" alt="" />
                                    </div>
                                    <div class="examine__content">
                                        <div class="examine__title">
                                            <p>마이크로바이옴 검사</p>
                                            <h4>더바이옴</h4>
                                        </div>
                                        <p class="examine__text">
                                            지속적으로 변화하는 몸 속 미생물을 분석하여<br />
                                            현재 건강 상태를 체크해봐요
                                        </p>
                                        <div class="examine__plus">
                                            <a href="javascript:;">
                                                <img src="../resources/assets/images/sub/plus.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/sub/checklist_image03.png" alt="" />
                                    </div>
                                    <div class="examine__content">
                                        <div class="examine__title">
                                            <p>반려동물 유전자 검사</p>
                                            <h4>마이펫진</h4>
                                        </div>
                                        <p class="examine__text">
                                            소중한 반려동물의 유전질환을 미리 알아보고 예방하여<br />
                                            행복하고 건강한 삶을 함께해요
                                        </p>
                                        <div class="examine__plus">
                                            <a href="javascript:;">
                                                <img src="../resources/assets/images/sub/plus.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("./include/footer.html") %>
        </div>
    </body>
</html>
