<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/sub_head.html") %>
    <body>
        <div class="wrap" id="wrap">
            <h2 class="ir">젠톡</h2>
            <%- include("./include/header.html", { headerClass: 'black' }) %>
            <div class="container">
                <article class="gentok">
                    <div class="gentok__title">
                        <h2>Digital Healthcare</h2>
                    </div>
                    <div class="gentok__kv">
                        <div class="gentok__content">
                            <div class="gentok__text">
                                <h4 class="gentok__subtitle">몸BTI 건강관리 플랫폼</h4>
                                <h3 class="gentok__kvtitle">젠톡</h3>
                                <p class="gentok__description">유전자 분석을 통해 타고난 나의 특성을 알고, 몸속 미생물 분석으로<br />현재 건강 상태를 모니터링하면서 건강한 삶을 만들어가요</p>
                                <div class="gentok__btnwrap">
                                    <ul>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--apple">App Store</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--google">Google Play</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="examine">
                    <div class="examine__container">
                        <div class="examine__function">
                            <ul class="examine__list">
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../resources/assets/images/sub/func_image01.svg" alt="129종의 다양한 검사항목" />
                                        </div>
                                        <div class="examine__num">
                                            <span>01</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                129종의<br />
                                                다양한 검사항목
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../resources/assets/images/sub/func_image02.svg" alt="보건복지부 인증기관" />
                                        </div>
                                        <div class="examine__num">
                                            <span>02</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                보건복지부<br />
                                                인증기관
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../resources/assets/images/sub/func_image03.svg" alt="AI 챗봇 유전상담 서비스" />
                                        </div>
                                        <div class="examine__num">
                                            <span>03</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                AI 챗봇<br />
                                                유전상담 서비스
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../resources/assets/images/sub/func_image04.svg" alt="검사 항목별 관리 솔루션 제공" />
                                        </div>
                                        <div class="examine__num">
                                            <span>04</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                검사 항목별<br />
                                                관리 솔루션 제공
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="examine__check">
                            <ul class="examine__checklist">
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/sub/checklist_image01.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>유전자 검사</p>
                                                <h4>젠톡</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    비만, 탈모 등 총 129종 검사항목으로<br />
                                                    그동안 알지 못했던 내 몸의 유전적 특성 알아봐요
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hideleft">
                                                    <div class="examine__hideimage">
                                                        <img src="../resources/assets/images/sub/checklist_hideimage01.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft">영양소</div>
                                                            <div class="examine__itemright">비타민 C 농도, 비타민 D 농도, 코엔자임Q10, 마그네슘 농도 등 35개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">운동</div>
                                                            <div class="examine__itemright">근력 운동 적합성, 지구력 운동 적합성, 운동 후 회복능력 등 총 10개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">피부/모발</div>
                                                            <div class="examine__itemright">색소침착, 피부노화, 남성형 탈모 등 18개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">식습관</div>
                                                            <div class="examine__itemright">식욕, 포만감, 쓴맛 민감도 등 총 21개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">개인특성</div>
                                                            <div class="examine__itemright">알코올 홍조, 니코틴 의존성, 카페인 대사 등 23개 항목</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">건강관리</div>
                                                            <div class="examine__itemright">비만, 요요 가능성, 복부비만, 중성지방농도 등 22개 항목</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">더 알아보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/sub/checklist_image02.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>마이크로바이옴 검사</p>
                                                <h4>더바이옴</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    지속적으로 변화하는 몸 속 미생물을 분석하여<br />
                                                    현재 건강 상태를 체크해봐요
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hideleft">
                                                    <div class="examine__hideimage">
                                                        <img src="../resources/assets/images/sub/checklist_hideimage02.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--diff">장 건강 및 라이프 지수 종합 분석</div>
                                                            <div class="examine__itemright">- 장 : 변비, 방귀, 복부 팽만감, 신경성 복부 불편감, 설사<br />- 웰니스 : 행복, 피로, 면역, 비만, 수면, 노화</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--diff">영양소 대사 점수</div>
                                                            <div class="examine__itemright">- 식이섬유, 비타민B군, 단백질&BCAA 등 14종</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--diff">
                                                                식약처 고시 프로바이오틱스<br />
                                                                19종 검출 여부
                                                            </div>
                                                            <div class="examine__itemright"></div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">더 알아보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../resources/assets/images/sub/checklist_image03.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>반려동물 유전자 검사</p>
                                                <h4>마이펫진</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    소중한 반려동물의 유전질환을 미리 알아보고 예방하여<br />
                                                    행복하고 건강한 삶을 함께해요
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap examine__hidewrap--diff">
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft">질병확인서</div>
                                                            <div class="examine__itemright">유전질환의 가족력이 있거나 증상이 의심되는 경우 검사를 통해 조기진단 및 예방, 치료, 건강관리에 도움을 줄 수 있습니다.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">DNA인증서</div>
                                                            <div class="examine__itemright">2개 시료의 유전자 좌위를 비교 분석하여 동일한 개체의 DNA인지 식별하는 검사입니다.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">혈연확인서</div>
                                                            <div class="examine__itemright">반려동물 DNA의 고유한 유전자형을 비교 분석하여 부/모/자 간의 혈연관계를 입증하는 검사입니다.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft">성별확인서</div>
                                                            <div class="examine__itemright">암수의 성염색체 차이를 DNA분석을 통해 확인함으로써 조류의 성 감별이 가능합니다.</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">더 알아보기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slide-banner">
                            <ul class="swiper-wrapper slide-banner__wrap">
                                <li class="swiper-slide slide-banner__item--01">
                                    <div class="slide-banner__cont">
                                        <span class="slide-banner__category">삼성 헬스 유전자 패키지 프로모션</span>
                                        <h3>
                                            마크로젠 유전자검사 서비스 젠톡,<br />
                                            삼성 갤럭시에 탑재
                                        </h3>
                                        <div class="slide-banner__btn">
                                            <a href="javacript:;" class="btn btn-default btn-default--regular btn-default--black">
                                                <span class="btn btn-default__text">바로가기</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide slide-banner__item--02">
                                    <div class="slide-banner__cont">
                                        <span class="slide-banner__category">젠톡 이용권 선물하기</span>
                                        <h3>
                                            소중한 사람에게<br />
                                            마음을 전하는 방법!
                                        </h3>
                                        <div class="slide-banner__btn">
                                            <a href="javacript:;" class="btn btn-default btn-default--regular btn-default--black">
                                                <span class="btn btn-default__text">바로가기</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </article>
                <article class="about gray">
                    <div class="about__inner">
                        <div class="about__title">
                            <h3>젠톡 이런 점이 좋았어요</h3>
                            <div class="about__btn">
                                <a href="javascript:;" class="btn btn-default btn-default--gradient">
                                    <span class="btn btn-default__text">리뷰 전체보기</span>
                                </a>
                            </div>
                        </div>
                        <div class="advantage-slide about-slide">
                            <ul class="swiper-wrapper advantage-slide__wrap">
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>너무 정확하고 상세합니다. 나에 대해 더 자세히 알게 되어 보완도 할 수 있어요. 결과 설명도 자세하고 재미있게 이해할 수 있도록 쉽게 되어 있어서 만족도가 높아요~ 가족들 모두 다 해줘야겠어요.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../resources/assets/images/sub/advantage_image01.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All 패키지 129종</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">김<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">젠톡 리뷰</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>검사방법도 간단했습니다. 패키지 박스 보내고 결과물을 pdf로 받았는데 검사유형, 건강관리, 운동 영양소, 개인특성 등 있었고 이해하기 쉬웠어요. 마무리 단계에서는 유전자 분석 목록으로 한눈에 볼 수 있어서 좋았어요.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../resources/assets/images/sub/advantage_image02.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All 패키지 129종</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">조<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">젠톡 리뷰</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>기본적인 건강관련도 그렇고, 영양소나 개인특성 등을 알 수 있어서 관리하기 너무 좋을 것 같아요. 이런 것도 알려죠? 싶은 것들도 알려줘서 너무 신기하고 흥미롭네요!!</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../resources/assets/images/sub/advantage_image03.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All 패키지 129종</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">이<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">젠톡 리뷰</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>합리적인 가격에 많은 검사 결과를 보고 평소 저와 비교할 수 있었고 신경써야할 부분을 보고 참고할 수 있어서 좋았어요. 운동을 즐겨하는 입장에서 참고하고 방향성을 좀 설정할 수 있어서 좋아요.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../resources/assets/images/sub/advantage_image04.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All 패키지 129종</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">나<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">젠톡 리뷰</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="advantage-slide__progres"></div>
                        </div>
                    </div>
                </article>
                <article class="about">
                    <div class="about__inner">
                        <div class="about__title">
                            <h3>젠톡과 함께 소통해요</h3>
                        </div>
                        <div class="comms-slide about-slide">
                            <ul class="swiper-wrapper comms-slide__wrap">
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../resources/assets/images/sub/comms_image01.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--blog"></div>
                                        <div class="comms-slide__description">
                                            <p>국내 최초 유전자 서포터즈 젠토커 1기! 개인 미션 우수 활동 콘텐츠</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../resources/assets/images/sub/comms_image02.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--insta"></div>
                                        <div class="comms-slide__description">
                                            <p>내 형제자매의 이해 안 되는 행동들, 사실은 유전자 때문이었다고?😮</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../resources/assets/images/sub/comms_image03.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--blog"></div>
                                        <div class="comms-slide__description">
                                            <p>현존하는 더바이옴 골드 후기 중 가장 생생한 후기</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../resources/assets/images/sub/comms_image04.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--youtube"></div>
                                        <div class="comms-slide__description">
                                            <p>[젠톡x한살차이] 젠톡찐톡! DNA로 찐해지는 토크🗣️🧬 이젠,톡으로 말해요 젠톡</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="comms-slide__progres"></div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="contact-btn">
                <a href="javascript:;">
                    <img src="../resources/assets/images/sub/gentok_logo.png" />
                </a>
            </div>
            <%- include("./include/footer.html") %>
        </div>
        <script></script>
    </body>
</html>
