<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/main_head.html") %>
    <body>
        <div class="wrap main-wrap" id="wrap">
            <%- include("./include/header.html") %>
            <main class="container">
                <h2 class="ir">정밀의학 생명공학기업 마크로젠은 개개인이 타고난 유전적 특성을 정확히 알고 보다 건강한 삶을 준비할 수 있도록 돕는 초개인화 헬스케어 서비스를 제공합니다.</h2>
                <section class="section section--kv section--slide">
                    <div class="section__inner">
                        <h3 class="ir">macrogen main keyvisual</h3>
                        <div class="main-full main-kv">
                            <div class="main-kv__inner">
                                <div class="main-board">
                                    <div class="main-board__cont">
                                        <div class="main-board__mo">
                                            <ul class="main-board__list">
                                                <li class="main-board__row">
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image01.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            Pioneering the<br />
                                                            Nation’s First Non-<br />Medical BioBank
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image02.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            GenTok: DTC DNA<br />
                                                            Testing
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image03.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            TheBiome: Gut<br />
                                                            Microbiome Testing
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image04.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            Macrogen Sejong<br />
                                                            Campus Now Open
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <video autoplay muted playsinline loop>
                                                            <source src="../../resources/assets/video/kv01_01_m.mp4" type="video/mp4" />
                                                        </video>
                                                        <h4 class="main-board__description">
                                                            Single-Cell Multi-<br />
                                                            Omics Analysi<br />
                                                            Services
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="main-board__row">
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image05.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            Introducing the<br />
                                                            Ultima Genomics<br />
                                                            UG100™ - Asia’s<br />
                                                            First
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image06.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            GenTok: AI-Powered<br />
                                                            Genetic Counseling<br />
                                                            Chatbot
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <video autoplay muted playsinline loop>
                                                            <source src="../../resources/assets/video/kv02_02_m.mp4" type="video/mp4" />
                                                        </video>
                                                        <h4 class="main-board__description">
                                                            Leading the<br />
                                                            Future of Precision<br />
                                                            Healthcare
                                                        </h4>
                                                    </div>
                                                    <div class="main-board__image">
                                                        <img src="../../resources/assets/images/mo/kv-image07.jpg" alt="" />
                                                        <h4 class="main-board__description">
                                                            Shaping a Healthier<br />
                                                            Future for Humanity
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--slogan section--slide">
                    <div class="section__inner">
                        <h3 class="ir">마크로젠 서비스</h3>
                        <div class="main-full main-slogan">
                            <div class="main-slogan__wrap">
                                <div class="main-slogan__group">
                                    <div class="main-slogan__text">
                                        <h4>Combining top-tier</h4>
                                    </div>
                                    <div class="main-slogan__text">
                                        <h4>global genomic</h4>
                                    </div>
                                    <div class="main-slogan__text">
                                        <h4>analysis expertise</h4>
                                    </div>
                                    <div class="main-slogan__text">
                                        <h4>
                                            with<span class="highlight"><span class="bg"></span>Big Data</span>and<span class="highlight"><span class="bg"></span>AI</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="overlay-circle"></div>
                                <div class="main-slogan__marquee">
                                    <h4>
                                        We are creating<br />
                                        pathways to a<br />
                                        healthier life.
                                    </h4>
                                    <div class="main-slogan__imagewrap">
                                        <ul>
                                            <li>
                                                <div class="main-slogan__image">
                                                    <img src="../../resources/assets/images/main/main-slogan_image01.jpg" alt="" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="main-slogan__image main-slogan__image--scale"></div>
                                            </li>
                                            <li>
                                                <div class="main-slogan__image">
                                                    <img src="../../resources/assets/images/main/main-slogan_image03.jpg" alt="" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-full main-service">
                            <div class="main-service__slide">
                                <ul class="main-service__list swiper-wrapper">
                                    <li class="main-service__item main-service__item--01 swiper-slide">
                                        <div class="main-service__cont">
                                            <div class="main-service__left">
                                                <span class="main-service__entitle">Personal Healthcare</span>
                                                <h3 class="main-service__kotitle">Healthcare</h3>
                                                <p class="main-service__description">We provide a wide range of genetic tests to support not only disease prediction but also nutrition, diet, and overall wellness, empowering you to maintain health and build balanced lifestyle habits.</p>
                                                <ul class="main-service__link">
                                                    <li>
                                                        <a href="javascript:;">Personal Healthcare</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Pet Healthcare</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main-service__item main-service__item--02 swiper-slide">
                                        <div class="main-service__cont">
                                            <div class="main-service__left">
                                                <span class="main-service__entitle">Research and Data Analysis</span>
                                                <h3 class="main-service__kotitle">
                                                    Research and<br />
                                                    Data Analysis
                                                </h3>
                                                <p class="main-service__description">Leveraging years of accumulated expertise and global-standard analytical infrastructure, we offer fast, accurate, and comprehensive genomic analysis services.</p>
                                                <ul class="main-service__link">
                                                    <li>
                                                        <a href="javascript:;">NGS</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Proteomics</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">CES</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Single-cell omics</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Microarray</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main-service__item main-service__item--03 swiper-slide">
                                        <div class="main-service__cont">
                                            <div class="main-service__left">
                                                <span class="main-service__entitle">Clinical Diagnosis</span>
                                                <h3 class="main-service__kotitle">
                                                    Clinical<br />
                                                    Diagnostics
                                                </h3>
                                                <p class="main-service__description">By building an integrated big data system of genomic, medical, and lifestyle information, we are advancing disease prediction and pioneering innovation in future medicine.</p>
                                                <ul class="main-service__link main-service__link--large">
                                                    <li>
                                                        <a href="javascript:;">Cancer Genomic Testing</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">NGS Genomic Panel Laboratory</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">GCLP (Clinical Trial Sample Analysis)</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="main-service__buttonwrap">
                                    <ul class="main-service__button">
                                        <li class="active">Healthcare</li>
                                        <li>Research and Data Analysis</li>
                                        <li>Clinical Diagnostics</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--info">
                    <div class="section__inner">
                        <h2 class="ir">macrogen service</h2>
                        <div class="main-full main-info">
                            <div class="main-info__wrap">
                                <h3 class="title title--white tac">
                                    Driving continuous<br />
                                    growth and leading<br />
                                    the paradigm<br />
                                    shift in healthcare.
                                </h3>
                                <div class="main-info__content">
                                    <ul class="main-info__list">
                                        <li>
                                            <strong>No.<span class="counting" data-count="1">0</span></strong>
                                            <p>
                                                Market Share<br />
                                                in South Korea
                                            </p>
                                        </li>
                                        <li>
                                            <strong><span class="counting" data-count="153">0</span></strong>
                                            <p>
                                                18K+ Customers<br />
                                                in 153 Countries
                                            </p>
                                        </li>
                                        <li>
                                            <strong>Top<span class="counting" data-count="5">0</span></strong>
                                            <p>
                                                Sequencing Capacity<br />
                                                300K+ Genome<br />
                                                per Year
                                            </p>
                                        </li>
                                        <li>
                                            <strong><span class="counting" data-count="30">0</span>PB</strong>
                                            <p>
                                                Big Data Computing<br />
                                                Infrastructure
                                            </p>
                                        </li>
                                        <li>
                                            <strong><span class="counting" data-count="750">0</span>+</strong>
                                            <p>
                                                Number of Employees<br />
                                                (as of 2023)
                                            </p>
                                        </li>
                                        <li>
                                            <strong><span class="counting" data-count="156">0</span></strong>
                                            <p>
                                                SCI-level Articles<br />
                                                in Top-tier Journals
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--global">
                    <div class="section__inner">
                        <h2 class="ir">마크로젠 글로벌 네트워크</h2>
                        <div class="main-full main-global">
                            <div class="main-global__wrap">
                                <div class="main-global__title tac">
                                    <h3 class="title">
                                        We deliver timely,<br />
                                        systematic services<br />
                                        tailored to meet<br />
                                        your needs,<br />
                                        wherever you are
                                    </h3>
                                </div>
                                <div class="main-global__btnwrap">
                                    <div class="main-global__select">
                                        <div class="main-global__selecttext" data-text="Asia">All</div>
                                        <div class="main-global__option">
                                            <ul class="main-global__optionlist">
                                                <li class="group-button"><button type="button" data-option="All" data-group="0">All</button></li>
                                                <li class="group-button"><button type="button" data-option="Asia" data-group="1">Asia</button></li>
                                                <li class="group-button"><button type="button" data-option="Europe" data-group="2">Europe</button></li>
                                                <li class="group-button"><button type="button" data-option="America" data-group="3">America</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-global__map">
                                    <div class="main-global__bg swiper-container">
                                        <ul class="swiper-wrapper">
                                            <li class="swiper-slide active" data-group="0">
                                                <img src="../../resources/assets/images/mo/img_map_all.png" alt="" />
                                            </li>
                                            <li class="swiper-slide active" data-group="1">
                                                <img src="../../resources/assets/images/mo/img_map_01.png" alt="" />
                                            </li>
                                            <li class="swiper-slide" data-group="2">
                                                <img src="../../resources/assets/images/mo/img_map_02.png" alt="" />
                                            </li>
                                            <li class="swiper-slide" data-group="3">
                                                <img src="../../resources/assets/images/mo/img_map_03.png" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="global-swiper">
                                    <div class="global-swiper__wrap swiper-wrapper">
                                        <div class="global-swiper__item swiper-slide" data-group="0"></div>
                                        <div class="global-swiper__item swiper-slide" data-group="1">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_korea_01.jpg" alt="Macrogen Gangnam HQ" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Korea</span>
                                                <h4>Macrogen Gangnam HQ</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="1">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_korea_02.jpg" alt="Macrogen Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Korea</span>
                                                <h4>Macrogen Genome<br />Center</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="1">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_korea_03.jpg" alt="Macrogen Songdo Global Campus" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Korea</span>
                                                <h4>Macrogen Songdo<br />Global Campus</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="1">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_korea_04.jpg" alt="acrogen Sejong Campu" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Korea</span>
                                                <h4>Macrogen Sejong<br />Campus</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="1">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_japan_01.jpg" alt="Macrogen Japan" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Japan</span>
                                                <h4>Macrogen Japan</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="1">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_singapore_01.jpg" alt="Macrogen APAC" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Singapore</span>
                                                <h4>Macrogen APAC</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="2">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_netherlands_01.jpg" alt="Macrogen Europe" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Netherlands</span>
                                                <h4>Macrogen Europe</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="2">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_spain_01.jpg" alt="Madrid Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Spain</span>
                                                <h4>Madrid Genome Center</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="2">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_italy_01.jpg" alt="Milano Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Italy</span>
                                                <h4>Milano Genome Center</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="2">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_france_01.jpg" alt="Paris Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>France</span>
                                                <h4>Paris Genome Center</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="2">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_poland_01.jpg" alt="Szczecin Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Poland</span>
                                                <h4>Szczecin Genome Center</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="2">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_switzerland_01.jpg" alt="Basel Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Switzerland</span>
                                                <h4>Basel Genome Center</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="3">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_usa_01.jpg" alt="Psomagen" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>USA</span>
                                                <h4>Psomagen</h4>
                                            </div>
                                        </div>
                                        <div class="global-swiper__item swiper-slide" data-group="3">
                                            <div class="global-swiper__image">
                                                <img src="../../resources/assets/images/mo/network_chile_01.jpg" alt="Santiago Genome Center" />
                                            </div>
                                            <div class="global-swiper__description">
                                                <span>Chile</span>
                                                <h4>Santiago Genome Center</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--news">
                    <div class="section__inner">
                        <h2 class="ir">macrogen news</h2>
                        <div class="main-news">
                            <div class="main-news__wrap">
                                <h3 class="title">News</h3>
                                <div class="main-news__partnership">
                                    <ul class="main-news__list">
                                        <li>
                                            <a href="javascript:;" class="main-news__container">
                                                <div class="main-news__left">
                                                    <div class="main-news__content">
                                                        <div class="main-news__tag">
                                                            <span class="main-news__category">Partnership</span>
                                                        </div>
                                                        <div class="main-news__top">
                                                            <h4 class="main-news__title">Your Genetic Results Now Available on Galaxy Devices. Macrogen Partners with Samsung Electronics - GenTok Genetic Testing Service Now Available on Galaxy.</h4>
                                                        </div>
                                                        <div class="main-news__bottom">
                                                            <p class="main-news__description">
                                                                July 24, 2024 - Global digital healthcare leader Macrogen (CEO Kim Chang-hoon) has entered into a strategic partnership with Samsung Electronics to collaborate on the research and commercialization of healthcare services based on
                                                                genomic data.
                                                            </p>
                                                            <time class="main-news__date">July 24, 2024</time>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-news__right">
                                                    <div class="main-news__image">
                                                        <img src="../../resources/assets/images/main/news_image03.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="main-news__container">
                                                <div class="main-news__left">
                                                    <div class="main-news__content">
                                                        <div class="main-news__tag">
                                                            <span class="main-news__category">Business</span>
                                                        </div>
                                                        <div class="main-news__top">
                                                            <h4 class="main-news__title">Macrogen APAC and PacBio Open Joint Lab - Collaborative Genomic Research Hub for Southeast Asia Based on Global Genomic Analysis Expertise</h4>
                                                        </div>
                                                        <div class="main-news__bottom">
                                                            <p class="main-news__description">
                                                                October 7, 2024 - Macrogen announced a collaboration with Singapore’s A*STAR (Agency for Science, Technology and Research) and the Genome Institute of Singapore (GIS) to establish a state-of-the-art Joint Lab.
                                                            </p>

                                                            <time class="main-news__date">October 7, 2024</time>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-news__right">
                                                    <div class="main-news__image">
                                                        <img src="../../resources/assets/images/mo/news_image01.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="main-news__container">
                                                <div class="main-news__left">
                                                    <div class="main-news__content">
                                                        <div class="main-news__tag">
                                                            <span class="main-news__category">Business</span>
                                                        </div>
                                                        <div class="main-news__top">
                                                            <h4 class="main-news__title">Macrogen Receives Approval to Establish the Nation’s First Non-Medical BioBank</h4>
                                                        </div>
                                                        <div class="main-news__bottom">
                                                            <p class="main-news__description">
                                                                June 4, 2024 - Macrogen, a global digital healthcare company, has received the first approval to establish a non-medical BioBank in Korea, leveraging its extensive genetic analysis database of over 500,000 cases and 27 years of
                                                                research, combined with medical data from the Macrogen Medical Foundation’s Health Screening Center.
                                                            </p>

                                                            <time class="main-news__date">June 4, 2024</time>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-news__right">
                                                    <div class="main-news__image">
                                                        <img src="../../resources/assets/images/mo/news_image03.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--marquee">
                    <div class="section__inner">
                        <h2 class="ir">macrogen global partner</h2>
                        <div class="main-marquee">
                            <h3 class="title tac">
                                We collaborates<br />
                                with global partners<br />
                                to drive innovation<br />
                                together
                            </h3>
                            <div class="main-marquee__slidewrap"></div>
                            <div class="main-marquee__slide main-marquee__slide--01">
                                <ul>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image01.png" alt="PacBi" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image02.png" alt="ThermoFisher" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image03.png" alt="10x Genomics" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image04.png" alt="OLink" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image05.png" alt="Agilent" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image01.png" alt="PacBi" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image02.png" alt="ThermoFisher" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image03.png" alt="10x Genomics" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image04.png" alt="OLink" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image05.png" alt="Agilent" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image01.png" alt="PacBi" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image02.png" alt="ThermoFisher" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image03.png" alt="10x Genomics" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image04.png" alt="OLink" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image05.png" alt="Agilent" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-marquee__slide main-marquee__slide--02">
                                <ul>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image06.png" alt="Microsoft" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image07.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image08.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image09.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image10.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image06.png" alt="Microsoft" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image07.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image08.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image09.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image10.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image06.png" alt="Microsoft" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image07.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image08.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image09.png" alt="TWIST" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="main-marquee__image">
                                            <img src="../../resources/assets/images/mo/marquee_image10.png" alt="TWIST" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section--banner">
                    <div class="section__inner">
                        <h2 class="ir">CONTACT US</h2>
                        <div class="main-banner">
                            <h2 class="title title--white title--small tac">
                                Need Assistance?<br />
                                Our experts are here to help
                            </h2>
                            <div class="main-banner__button">
                                <a href="javascript:;" class="btn btn-default btn-default--gradient">
                                    <span class="btn btn-default__text btn-default__text--diff">Contact Us</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const $htmlEl = document.querySelector('html');
                        if ($htmlEl) {
                            document.querySelector('html').classList.add('animated');
                        }
                    });
                </script>

                <%- include("./include/header_gnb.html") %> <%- include("./include/footer.html") %>
            </main>
        </div>
    </body>
</html>
