<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/head.html") %>
    <body>
        <div class="wrap">
            <%- include("./include/header.html") %>
            <h2 class="ir">젠톡</h2>
            <div class="container">
                <article class="gentok">
                    <div class="gentok__title">
                        <h3>Digital Healthcare</h3>
                    </div>
                    <div class="gentok__kv">
                        <div class="gentok__content">
                            <div class="gentok__text">
                                <h4 class="gentok__subtitle">Healthcare Platform</h4>
                                <h3 class="gentok__kvtitle">GenTok</h3>
                                <p class="gentok__description">By leveraging genetic testing and microbiome analysis, GenTok empowers you to gain profound insights into your innate characteristics and current health status.</p>
                                <div class="gentok__btnwrap">
                                    <ul>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--apple">App Store</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--google">Google Play</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="examine">
                    <div class="examine__container">
                        <div class="examine__function">
                            <ul class="examine__list swiper-wrapper">
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>01</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    129 DNA<br />
                                                    testing items
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../../resources/assets/images/mo/func_image01_en.png" alt="129종의 다양한 검사항목" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>02</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    Certified by<br />
                                                    Health Authority
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../../resources/assets/images/mo/func_image02_en.png" alt="보건복지부 인증기관" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>03</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    AI Chatbot<br />
                                                    Genetic <br />
                                                    Counseling Service
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../../resources/assets/images/mo/func_image03_en.png" alt="AI 챗봇 유전상담 서비스" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="examine__inner">
                                        <div class="examine__left">
                                            <div class="examine__num">
                                                <span>04</span>
                                            </div>
                                            <div class="examine__text">
                                                <p class="examine__name">
                                                    Personalized<br />
                                                    Solutions Based<br />
                                                    on Test Results
                                                </p>
                                            </div>
                                        </div>
                                        <div class="examine__right">
                                            <div class="examine__image">
                                                <img src="../../resources/assets/images/mo/func_image04_en.png" alt="검사 항목별 관리 솔루션 제공" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="examine__check">
                            <ul class="examine__checklist">
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../../resources/assets/images/mo/checklist_image01.svg" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>DNA Testing</p>
                                                <h4>GenTok</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    Explore 129 diverse testing items,<br />
                                                    including obesity, hair loss, and more to<br />
                                                    uncover unique genetic traits you<br />
                                                    never knew about
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">Learn More</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hidetop">
                                                    <div class="examine__hideimage">
                                                        <img src="../../resources/assets/images/mo/checklist_hideimage01.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hidebottom">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemname">Nutrient</div>
                                                            <div class="examine__itemdesc">Assess levels of Vitamin C, Vitamin D, Coenzyme Q10, Magnesium, and more, with a total of 35 nutrient items..</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Exercise</div>
                                                            <div class="examine__itemdesc">Find out your suitability for strength training, endurance activities, post-exercise recovery ability, and more, covering a total of 10 items.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Skin & Hair</div>
                                                            <div class="examine__itemdesc">Gain insights into pigmentation, skin aging, male pattern baldness, and other characteristics, across 18 items.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Dietary Habits</div>
                                                            <div class="examine__itemdesc">Understand your tendencies for appetite, fullness, sensitivity to bitterness, and more with 21 items in total.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Personal Traits</div>
                                                            <div class="examine__itemdesc">Assess unique personal traits, such as alcohol flush response, nicotine dependence, caffeine metabolism, and more, in 23 items.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Health Management</div>
                                                            <div class="examine__itemdesc">Get insights into obesity, abdominal obesity, triglyceride levels, and more across 22 health management items.</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">Learn More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="examine__hideclose" type="button"><span>Close</span></button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../../resources/assets/images/mo/checklist_image02.svg" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>Microbiome Testing</p>
                                                <h4>the Biome</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    Analyze the continuously changing<br />
                                                    microbiome within your body to monitor<br />
                                                    your current health status.
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">Learn More</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hidetop">
                                                    <div class="examine__hideimage">
                                                        <img src="../../resources/assets/images/mo/checklist_hideimage02.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hidebottom">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemname">Comprehensive Gut Health and Lifestyle Index</div>
                                                            <div class="examine__itemdesc">
                                                                <p class="examine__piece">
                                                                    <span class="examine__one">- Gut Health : </span>
                                                                    <span>Constipation, Gas, Abdominal Bloating, Nervous Stomach Discomfort, Diarrhea</span>
                                                                </p>
                                                                <p class="examine__piece">
                                                                    <span class="examine__two">- Wellness :</span>
                                                                    <span>Happiness, Fatigue, Immunity, Obesity, Sleep, Aging</span>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Nutrient Metabolism Score</div>
                                                            <div class="examine__itemdesc">- Evaluate your ability to metabolize dietary fiber, B vitamins, proteins, BCAA, and more, across 14 categories.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">19 Probiotic Strains Approved by the Korean FDA</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">Learn More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="examine__hideclose" type="button"><span>Close</span></button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../../resources/assets/images/mo/checklist_image03.svg" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>Pet DNA Testing</p>
                                                <h4>MyPetGene</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    Proactively identify and prevent genetic<br />
                                                    diseases in your beloved pets for a<br />
                                                    happier, healthier life together.
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">더보기</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hidebottom">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemname">Disease Report</div>
                                                            <div class="examine__itemdesc">This report supports early diagnosis, prevention, and health management for pets with genetic disease risks or hereditary symptoms.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">DNA Certification</div>
                                                            <div class="examine__itemdesc">This test verifies identical DNA from two samples by comparing genetic loci, confirming the identity of the individual.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Relationship Verification Certificate</div>
                                                            <div class="examine__itemdesc">This test compares unique genetic markers in pet DNA to establish biological relationships between parents and offspring.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemname">Gender Identification Certificate</div>
                                                            <div class="examine__itemdesc">By analyzing DNA differences in sex chromosomes, this test enables accurate gender identification for birds.</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">Learn More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="examine__hideclose" type="button"><span>Close</span></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slide-banner">
                            <ul class="swiper-wrapper slide-banner__wrap">
                                <li class="swiper-slide slide-banner__item slide-banner__item--01">
                                    <div class="slide-banner__cont">
                                        <span class="slide-banner__category">Samsung Health Package Promotion</span>
                                        <div class="slide-banner__title">
                                            <h3>
                                                GenTok DNA Testing<br />
                                                Services - Now Available<br />
                                                on Samsung Galaxy
                                            </h3>
                                        </div>
                                        <div class="slide-banner__btn">
                                            <a href="javacript:;" class="btn btn-default btn-default--regular btn-default--black">
                                                <span class="btn btn-default__text">Learn More</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide slide-banner__item slide-banner__item--02">
                                    <div class="slide-banner__cont">
                                        <span class="slide-banner__category">Gift a GenTok Voucher</span>
                                        <div class="slide-banner__title">
                                            <h3>
                                                The perfect way to show you<br />
                                                care - give a meaningful gift<br />
                                                that brings lasting health<br />
                                                insights and well-being.
                                            </h3>
                                        </div>
                                        <div class="slide-banner__btn">
                                            <a href="javacript:;" class="btn btn-default btn-default--regular btn-default--black">
                                                <span class="btn btn-default__text">Learn More</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </article>
                <article class="about gray">
                    <div class="about__inner">
                        <div class="about__title">
                            <h3>
                                What Customers<br />
                                Love About<br />
                                GenTok
                            </h3>
                        </div>
                        <div class="advantage-slide about-slide">
                            <ul class="swiper-wrapper advantage-slide__wrap">
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>Extremely accurate and detailed. I learned so much about myself, which allowed me to make improvements. The results were clearly explained in an engaging way, making it easy to understand. I want my whole family to try it!</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/mo/advantage_image01.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Kim<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>The DNA testing process was simple. I sent the testing kit back and received the results as a PDF file, which included categories like health management, exercise, nutrition, and personal traits. I appreciated the ummary list of genetic markers.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/mo/advantage_image02.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Cho<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>기본적인 건강관련도 그렇고, 영양소나 개인특성 등을 알 수 있어서 관리하기 너무 좋을 것 같아요. 이런 것도 알려죠? 싶은 것들도 알려줘서 너무 신기하고 흥미롭네요!!</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/mo/advantage_image_default.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Lee<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>합리적인 가격에 많은 검사 결과를 보고 평소 저와 비교할 수 있었고 신경써야할 부분을 보고 참고할 수 있어서 좋았어요. 운동을 즐겨하는 입장에서 참고하고 방향성을 좀 설정할 수 있어서 좋아요.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/mo/advantage_image03.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Na<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="advantage-slide__progres"></div>
                        </div>
                        <div class="about__btn">
                            <a href="javascript:;" class="btn btn-default btn-default--gradient">
                                <span class="btn btn-default__text">View all</span>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="about">
                    <div class="about__inner">
                        <div class="about__title">
                            <h3>
                                Engage with<br />
                                GenTok
                            </h3>
                        </div>
                        <div class="comms-slide about-slide">
                            <ul class="swiper-wrapper comms-slide__wrap">
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/mo/comms_image01.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--blog"></div>
                                        <div class="comms-slide__description">
                                            <p>The First DNA Testing Ambassadors- GenTalker!</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/mo/comms_image02.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--insta"></div>
                                        <div class="comms-slide__description">
                                            <p>Finally understand those quirks in your siblings - It might just be gene!😮</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/mo/comms_image03.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--blog"></div>
                                        <div class="comms-slide__description">
                                            <p>The most vivid testimonials from TheBiome Gold users</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/mo/comms_image04.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--youtube"></div>
                                        <div class="comms-slide__description">
                                            <p>[GenTok x One-Year Age Gap] Get Real with DNA Conversations.🗣️🧬Now, let’s talk with GenTok</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="comms-slide__progres"></div>
                        </div>
                    </div>
                </article>
            </div>

            <%- include("./include/header_gnb.html") %> <%- include("./include/footer.html") %>
        </div>
    </body>
</html>
