<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/sub_head.html") %>
    <body>
        <div class="wrap header-fixed header--black" id="wrap">
            <h2 class="ir">젠톡</h2>
            <div class="container">
                <header class="header header-bg-white" id="header"><%- include("./include/header.html") %></header>
                <article class="gentok">
                    <div class="gentok__title">
                        <h2>Digital Healthcare</h2>
                    </div>
                    <div class="gentok__kv">
                        <div class="gentok__content">
                            <div class="gentok__text">
                                <h4 class="gentok__subtitle">Healthcare Platform</h4>
                                <h3 class="gentok__kvtitle">GenTok</h3>
                                <p class="gentok__description">
                                    By leveraging genetic testing and microbiome analysis,<br />
                                    GenTok empowers you to gain profound insights into your<br />
                                    innate characteristics and current health status.
                                </p>
                                <div class="gentok__btnwrap">
                                    <ul>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--apple">App Store</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--white">
                                                <span class="btn btn-default__text btn-default__text--pl btn-default__text--google">Google Play</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="examine">
                    <div class="examine__container">
                        <div class="examine__function">
                            <ul class="examine__list">
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../../resources/assets/images/sub/func_image01.svg" alt="129종의 다양한 검사항목" />
                                        </div>
                                        <div class="examine__num">
                                            <span>01</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">129 DNA<br />testing items</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../../resources/assets/images/sub/func_image02.svg" alt="보건복지부 인증기관" />
                                        </div>
                                        <div class="examine__num">
                                            <span>02</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                Certified by<br />
                                                Health Authority
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../../resources/assets/images/sub/func_image03.svg" alt="AI 챗봇 유전상담 서비스" />
                                        </div>
                                        <div class="examine__num">
                                            <span>03</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                AI Chatbot Genetic<br />
                                                Counseling Service
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__inner">
                                        <div class="examine__image">
                                            <img src="../../resources/assets/images/sub/func_image04.svg" alt="검사 항목별 관리 솔루션 제공" />
                                        </div>
                                        <div class="examine__num">
                                            <span>04</span>
                                        </div>
                                        <div class="examine__text">
                                            <p class="examine__name">
                                                Personalized Solutions<br />
                                                Based on Test Results
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="examine__check">
                            <ul class="examine__checklist">
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../../resources/assets/images/sub/checklist_image01.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>DNA Testing</p>
                                                <h4>GenTok</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    Explore 129 diverse testing items, including obesity, hair loss, and<br />
                                                    more to uncover unique genetic traits you never knew about
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">Learn More</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hideleft">
                                                    <div class="examine__hideimage">
                                                        <img src="../../resources/assets/images/sub/checklist_hideimage01.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--small">Nutrient</div>
                                                            <div class="examine__itemright">
                                                                Assess levels of Vitamin C, Vitamin D, Coenzyme Q10, Magnesium, and more,<br />
                                                                with a total of 35 nutrient items..
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--small">Exercise</div>
                                                            <div class="examine__itemright">
                                                                Find out your suitability for strength training, endurance activities, post-exercise<br />
                                                                recovery ability, and more, covering a total of 10 items.
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--small">Skin & Hair</div>
                                                            <div class="examine__itemright">
                                                                Gain insights into pigmentation, skin aging, male pattern baldness, and other<br />
                                                                characteristics, across 18 items.
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--small">Dietary Habits</div>
                                                            <div class="examine__itemright">
                                                                Understand your tendencies for appetite, fullness, sensitivity to bitterness,<br />
                                                                and more with 21 items in total.
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--small">Personal Traits</div>
                                                            <div class="examine__itemright">
                                                                Assess unique personal traits, such as alcohol flush response, nicotine<br />
                                                                dependence, caffeine metabolism, and more, in 23 items.
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--small">
                                                                Health<br />
                                                                Management
                                                            </div>
                                                            <div class="examine__itemright">
                                                                Get insights into obesity, abdominal obesity, triglyceride levels, and more<br />
                                                                across 22 health management items.
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">Learn More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../../resources/assets/images/sub/checklist_image02.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>Microbiome Testing</p>
                                                <h4>the Biome</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    Analyze the continuously changing microbiome within your body to<br />
                                                    monitor your current health status.
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">Learn More</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap">
                                                <div class="examine__hideleft">
                                                    <div class="examine__hideimage">
                                                        <img src="../../resources/assets/images/sub/checklist_hideimage02.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--middle">
                                                                Comprehensive Gut Health<br />
                                                                and Lifestyle Index
                                                            </div>
                                                            <div class="examine__itemright">
                                                                <p>Gut Health: Constipation, Gas, Abdominal Bloating, Nervous Stomach Discomfort, Diarrhea</p>
                                                                <p>Wellness: Happiness, Fatigue, Immunity, Obesity, Sleep, Aging</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--middle">Nutrient Metabolism Score</div>
                                                            <div class="examine__itemright">
                                                                <p>Evaluate your ability to metabolize dietary fiber, B vitamins, proteins, BCAA, and more, across 14 categories.</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--middle">
                                                                19 Probiotic Strains<br />
                                                                Approved by the Korean<br />
                                                                FDA
                                                            </div>
                                                            <div class="examine__itemright"></div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">Learn More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="examine__checkimage">
                                        <img src="../../resources/assets/images/sub/checklist_image03.png" alt="" />
                                    </div>
                                    <div class="examine__toggle">
                                        <div class="examine__content">
                                            <div class="examine__title">
                                                <p>Pet DNA Testing</p>
                                                <h4>MyPetGene</h4>
                                            </div>
                                            <div class="examine__desc">
                                                <p>
                                                    Proactively identify and prevent genetic diseases in your beloved<br />
                                                    pets for a happier, healthier life together.
                                                </p>
                                            </div>
                                            <button type="button" class="examine__plus">Learn More</button>
                                        </div>
                                        <div class="examine__hidecont">
                                            <div class="examine__hidewrap examine__hidewrap--diff">
                                                <div class="examine__hideright">
                                                    <ul class="examine__hidelist">
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--large">Disease Report</div>
                                                            <div class="examine__itemright">This report supports early diagnosis, prevention, and health management for pets with genetic disease risks or hereditary symptoms.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--large">DNA Certification</div>
                                                            <div class="examine__itemright">This test verifies identical DNA from two samples by comparing genetic loci, confirming the identity of the individual.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--large">
                                                                Relationship Verification<br />
                                                                Certificate
                                                            </div>
                                                            <div class="examine__itemright">This test compares unique genetic markers in pet DNA to establish biological relationships between parents and offspring.</div>
                                                        </li>
                                                        <li>
                                                            <div class="examine__itemleft examine__itemleft--large">
                                                                Gender Identification<br />
                                                                Certificate
                                                            </div>
                                                            <div class="examine__itemright">By analyzing DNA differences in sex chromosomes, this test enables accurate gender identification for birds.</div>
                                                        </li>
                                                    </ul>
                                                    <div class="examine__hidebutton">
                                                        <a href="javascript:;" class="btn btn-default btn-default--regular btn-default--bnw">
                                                            <span class="btn btn-default__text">Learn More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slide-banner">
                            <ul class="swiper-wrapper slide-banner__wrap">
                                <li class="swiper-slide slide-banner__item slide-banner__item--01">
                                    <div class="slide-banner__cont">
                                        <span class="slide-banner__category">Samsung Health Package Promotion</span>
                                        <h3>
                                            GenTok DNA Testing Services - Now<br />
                                            Available on Samsung Galaxy
                                        </h3>
                                        <div class="slide-banner__btn">
                                            <a href="javacript:;" class="btn btn-default btn-default--regular btn-default--black">
                                                <span class="btn btn-default__text">Learn More</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide slide-banner__item slide-banner__item--02">
                                    <div class="slide-banner__cont">
                                        <span class="slide-banner__category">Gift a GenTok Voucher</span>
                                        <h3>
                                            The perfect way to show you care - give<br />
                                            a meaningful gift that brings lasting<br />
                                            health insights and well-being.
                                        </h3>
                                        <div class="slide-banner__btn">
                                            <a href="javacript:;" class="btn btn-default btn-default--regular btn-default--black">
                                                <span class="btn btn-default__text">Learn More</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </article>
                <article class="about gray">
                    <div class="about__inner">
                        <div class="about__title">
                            <h3>What Customers Love About GenTok</h3>
                            <div class="about__btn">
                                <a href="javascript:;" class="btn btn-default btn-default--gradient">
                                    <span class="btn btn-default__text">View all</span>
                                </a>
                            </div>
                        </div>
                        <div class="advantage-slide about-slide">
                            <ul class="swiper-wrapper advantage-slide__wrap">
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>Extremely accurate and detailed. I learned so much about myself, which allowed me to make improvements. The results were clearly explained in an engaging way, making it easy to understand. I want my whole family to try it!</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/sub/advantage_image01.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Kim<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>The DNA testing process was simple. I sent the testing kit back and received the results as a PDF file, which included categories like health management, exercise, nutrition, and personal traits. I appreciated the ummary list of genetic markers.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/sub/advantage_image02.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Cho<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>Understanding my health, nutrients, and personal traits has been really helpful. It’s amazing and fascinating to learn things I didn’t expect to know!</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/sub/advantage_image03.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Lee<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide">
                                    <div class="advantage-slide__cont">
                                        <div class="advantage-slide__top">
                                            <div class="advantage-slide__coma"></div>
                                            <div class="advantage-slide__description">
                                                <p>With reasonable pricing, I received comprehensive results that allowed me to compare with my own habits and focus on areas needing attention. As a fitness enthusiast, it provided valuable insights for setting my fitness goals.</p>
                                            </div>
                                            <div class="advantage-slide__image">
                                                <img src="../../resources/assets/images/sub/advantage_image04.jpg" alt="" />
                                            </div>
                                            <div class="advantage-slide__package">
                                                <span class="advantage-slide__tag">All-Inclusive Package - 129 test items</span>
                                            </div>
                                        </div>
                                        <div class="advantage-slide__bottom">
                                            <div class="advantage-slide__review">
                                                <p class="advantage-slide__name">Na<sup>**</sup></p>
                                                <p class="advantage-slide__defaulttext">GenTok Reviews</p>
                                            </div>
                                            <div class="advantage-slide__star">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="advantage-slide__progres"></div>
                        </div>
                    </div>
                </article>
                <article class="about">
                    <div class="about__inner">
                        <div class="about__title">
                            <h3>Engage with GenTok</h3>
                        </div>
                        <div class="comms-slide about-slide">
                            <ul class="swiper-wrapper comms-slide__wrap">
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/sub/comms_image01.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--blog"></div>
                                        <div class="comms-slide__description">
                                            <p>The First DNA Testing Ambassadors- GenTalker!</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/sub/comms_image02.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--insta"></div>
                                        <div class="comms-slide__description">
                                            <p>Finally understand those quirks in your siblings - It might just be gene!"😮</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/sub/comms_image03.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--blog"></div>
                                        <div class="comms-slide__description">
                                            <p>The most vivid testimonials from TheBiome Gold users</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="javascript:;">
                                        <div class="comms-slide__image">
                                            <img src="../../resources/assets/images/sub/comms_image04.jpg" alt="" />
                                        </div>
                                        <div class="comms-slide__sns comms-slide__sns--youtube"></div>
                                        <div class="comms-slide__description">
                                            <p>[GenTok x One-Year Age Gap] Get Real with DNA Conversations.🗣️🧬 Now, let’s talk with GenTok</p>
                                        </div>
                                        <div class="comms-slide__date">
                                            <p>2024.08.19</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="comms-slide__progres"></div>
                        </div>
                    </div>
                </article>
                <div class="contact-btn">
                    <a href="javascript:;">
                        <img src="../../resources/assets/images/sub/gentok_logo.png" />
                    </a>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const $htmlEl = document.querySelector('html');
                    if ($htmlEl) {
                        document.querySelector('html').classList.add('animated');
                    }
                });
            </script>

            <%- include("./include/footer.html") %>
        </div>
    </body>
</html>
